<div class="center jumbotron">
  <h1>This will become Food Stella!</h1>

  <h2>
    This url will servie as the staging ground for the application.  You can check back here for updates and when the app is ready for deployment it will be easily scalable and also linkable to a url of your choice.
  </h2>

</div>