<div class="row">
	<div class="container content friends-view">

		<!-- <div class="search"><input type="text" placeholder="search friends"></div> -->
		<div class="row search">
			<%= form_for_filterrific @filterrific do |f| %>
	  			<div class="filter-search search">
	    			<%= f.text_field(
	      				:search_query,
	      				class: 'filterrific-periodically-observed',
	      				placeholder: "Search users"
	    			) %>
	  			</div>
	  		<% end %>
	  	</div>

  		<!-- %= page_entries_info @others %> -->

  		<%= render(
  			partial: 'profiles/list',
  			locals: {
  				# myself: @myself,
  				# request: @request,
  				# friends: @friends,
  				# others: @others
  			}
  		) %>
	</div>
</div>