<li class="control-group nested-fields">
  <div class="controls">
  
      <%= f.label :description, "Step:" %>
      <%= f.text_field :description %>
      <% f.hidden_field :order %>

    <%= link_to_remove_association "remove", f %>
  </div>
</li>
