<li class="control-group nested-fields">
  <div class="controls">
  
      <!-- %= f.label :description, "Step:" %> -->
      <%= f.text_area :description, required: true %>
      <% f.hidden_field :order %>

    <%= link_to_remove_association "Remove", f %>
  </div>
</li>
