<div class="row">
  <div class="col-md-8 col-center">
  	<% if @recipes %>
  	  <% @recipes.each do |recipe| %>
  	    <h3><%= link_to recipe.name, recipe_path(recipe) %></h3>
  	  <% end %>
  	<% end %>
  </div>
</div>