<%= render 'layouts/recipe_css_variables' %>
<div class="row">
  <div class="col-md-12 recipe-page-header">
    <h1>What do you <i>stella</i> today?</h1>
  </div>
</div>

<div class= "row">
  <div class="col-md-12 filter-bar">
    <%= render 'filter_form' %>
  </div>
</div>

<div class="row recipes-page">

  <%= render 'layouts/recipe_sidebar' %>

  <div class="col-md-9">
  	

    <%= render(
      partial: 'recipes/list',
      locals: { recipes: @recipes }
    ) %>



  </div>
</div>


<script>

	$(document).ready(function() {

      //$(document).on('click','.dropdown-toggle',function(){
       // $('.recipes-page').toggleClass("padded")
       // if ( $('.recipes-page').css('padding-top') == '5.7em' )
       //   $('.recipes-page').css('padding-top','0');
       // else
       //   $('.recipes-page').css('padding-top','5.7em');
      //});

    	$(document).on('click','#follow',function(){
    		$this = $(this)
    		recipe_id = $this.attr('data')
    		console.log(recipe_id)
    		$.ajax({//ajax call for questions
                  type:'POST',
                  data: {id: recipe_id},
                  url:'/relationships',
              
                  success:function (response) {
                  	$this.addClass("spatula-selected")
                    $this.attr('id', 'unfollow');
                    $this.removeClass("spatula-unselected")
                  }
                  
                });//end ajax call
		});

		$(document).on('click','#unfollow',function(){
    		$this = $(this)
    		recipe_id = $this.attr('data')
    		console.log(recipe_id)
    		$.ajax({//ajax call for questions
                  type:'DELETE',
                  data: {id: recipe_id},
                  url:"/relationships/" + recipe_id,
              
                  success:function (response) {
                  	$this.addClass("spatula-unselected")
                    $this.attr('id', 'follow');
                    $this.removeClass("spatula-selected")
                  }
                  
                });//end ajax call
		});

    //resizes boxes based on screen width;

    wi = $(window).width();
    win = wi * (3/4);
    box_size = win * (1/4);

    console.log(wi);
    $('ox').css({
                    'height': box_size + 'px',
                    'width': box_size + 'px'
                  });
     $('.dails').css({
                    //adding height for the "details" div containing recipe information
                    'height': box_size - 40 + 'px',
                    'width': box_size + 'px'
                  });
});
</script>