<div class="row">
	<div class="col-md-4">
		<h1><%= @recipe.name %></h1>
		<%= image_tag @recipe.photo_url.url if @recipe.photo_url %>
	</div>
	<div>
		<ul>
			<% @recipe.ingredients.each do |i| %>
			    <li><%= i.name %></li>
			 <% end %>
		</ul>
	</div>

</div>