
<h1>dashboard</h1>
<button class="btn btn-default"><%= link_to "New Recipe", new_recipe_path %></button>
<button class="btn btn-default"><%= link_to "My Recipes", recipes_path %></button>
=======
<div class="row banner"></div>
<div class="row banner">
	<div class="col-xs-4 tabs_left">
		<div class="button">Timeline</div>
		<div class="button">About</div>
		<div class="button selected">Recipes</div>
	</div>
	<div class="col-xs-4 user">
		<div class="user_pic"></div>
		<div class="user_name">Salvatore Saia</div>
	</div>
	<div class="col-xs-4 tabs_right">
		<div class="button">RECIPES<br><span>7</span></div>
		<div class="button">FRIENDS<br><span>23</span></div>
		<div class="button">FOLLOWERS<br><span>20</span></div>
	</div>
</div>
<div class="row content-title"
	style="position: relative;">
	<!-- <div class="col-xs-4"></div> -->
	<!-- <div class="col-xs-4"> -->
		<h3>RECIPES</h3>
	<!-- </div> -->
	<!-- <div class="col-xs-4"> -->
		<div class="search-box">
			<!-- Search Recipes<br> -->
			<form><input type="text" placeholder="Search Recipes"></form>
			<!-- Search Recipes -->
		<!-- </div> -->
	</div>
</div>
<div class="row tile-wrapper">
	<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
		<div class="tile">
			<div class="overlay">
				<span class="title">Long name for a recipe</span>
				<span class="star">&#9733;</span>
			</div>
		</div>
	</div>
	<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
		<div class="tile">
			<div class="overlay">
				<span class="title">shrNam</span>
				<span class="star">&#9733;</span>
			</div>
		</div>
	</div>
	<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
		<div class="tile">
			<div class="overlay">
				<span class="title">Name of recipe</span>
				<span class="star">&#9733;</span>
			</div>
		</div>
	</div>
	<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
		<div class="tile">
			<div class="overlay">
				<span class="title">Name of recipe</span>
				<span class="star">&#9733;</span>
			</div>
		</div>
	</div>
	<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
		<div class="tile">
			<div class="overlay">
				<span class="title">Name of recipe</span>
				<span class="star">&#9733;</span>
			</div>
		</div>
	</div>
	<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
		<div class="tile">
			<div class="overlay">
				<span class="title">Name of recipe</span>
				<span class="star">&#9733;</span>
			</div>
		</div>
	</div>
	<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
		<div class="tile">
			<div class="overlay">
				<span class="title">Name of recipe</span>
				<span class="star">&#9733;</span>
			</div>
		</div>
	</div>
	<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
		<div class="tile">
			<div class="overlay">
				<span class="title">Name of recipe</span>
				<span class="star">&#9733;</span>
			</div>
		</div>
	</div>
</div>

