<div class="row event-actions-mobile">
  <div class="col-md-12 col-xs-12 col-sm-12">
    <div class="close-recipe-actions"></div>
    <div class="view-container">
      <div class="image-container"></div>
      <div class="recipe-title-container">
        <h2 id="recipe-title"></h2>
      </div>
      <ul class="event-actions">
        <li class="action"><a id="recipe-title-link"><h2>View Recipe</h2></a></li>
        <li class="action" id="unfollow-sidebar" data-recipe-id=""><h2>Remove from My Foods</h2></li>
      </ul>
    </div>
  </div>
</div>