<div class="row event-actions-mobile">
  <div class="col-md-12 col-xs-12 col-sm-12">
    <span class="glyphicon glyphicon-remove" id="hide-event-actions" aria-hidden="true"></span>
    <div class="view-container">
      <div class="image-container">
        <span id="servings"><h3></h3></span>
      </div>
      <div class="recipe-title-container">
        <h2 id="recipe-title"></h2>
      </div>
      <ul class="event-actions">
        <li class="action"><a id="recipe-title-link"><h2>View Recipe</h2></a></li>
        <li class="action servings">
        	<h2>Servings</h2>
        	<span class="glyphicon glyphicon-minus change-serving" id="minus-serving" aria-hidden="true"></span>
        	<span id ="num-servings" data=""></span>
        	<span class="glyphicon glyphicon-plus change-serving add" id="add-serving" aria-hidden="true"></span>
        </li>
        <li class="action" id="remove-event" data=""><h2>Remove</h2></li>
      </ul>
    </div>
  </div>
</div>