<div class="row slider-container">
  <div class="col-md-12 col-xs-12 col-sm-12">
    <span class="glyphicon glyphicon-chevron-right" id="unhide-chevron" aria-hidden="true"></span>
    <span class="glyphicon glyphicon-minus" id="tap-zoom-out" aria-hidden="true"></span>
    <div id="zoomSlider"></div>
    <span class="glyphicon glyphicon-plus" id="tap-zoom-in" aria-hidden="true"></span>
  </div>
</div>