<div class="row planner-instructions open">
  <div class="col-sm-12 disable-margins disable-padding">
    <div class="breakfast">
      <span class="circle tan"></span>
      <h5>Breakfast</h5>
    </div>
    <div class="lunch">
      <span class="circle green"></span>
      <h5>Lunch</h5>
    </div>
    <div class="dinner">
      <span class="circle olive"></span>
      <h5>Dinner</h5>
    </div>
    <div class="snack">
      <span class="circle brown"></span>
      <h5>Snack</h5>
    </div>
    <span class="glyphicon glyphicon-chevron-left" id="hide-chevron" aria-hidden="true"></span>
    <div class="details-left">
      <p>*s = servings per recipe.</p>
    </div>
    <div class="details-right">
      <p>**click image for options</p>
    </div>
  </div>
</div>