<div style="max-width: 800px; text-align: center; margin-right: auto; margin-left: auto; padding: 15px; padding-top: 5vh;">
	
<!-- 	<h3 style="color: grey;"> <br>About FoodStella</h3>
	<p style="text-align: justify; color:white;">
		Foodstella is born from the concept of planned spontaneity. Are you the type that likes to go the supermarket and buy anything you find interesting? Mmm… maybe these sundried tomatoes may go well with asparagus soup. Probably not. By the time you go home you’ll have a brief idea of what you might eat the rest of the week by the look of the number of grocery bags. We hope that chicken breast doesn’t spoil by the time you decide to eat it. Or you might put it in the freezer and pop it in the microwave later on… Maybe you are the type that plans every meal by writing down all possible ingredients you might use during the week. Or you constantly skim through recipe books or search online for your next innovation. Is there anything quicker? Simpler? Faster…?
	</p> -->


	<h3 style="color: grey;">FoodStella uses machine learning to match your meals</h3>
	<p style="text-align: justify; color:white;">
		Tell us what you like and don’t like. We will recommend similar recipes and surprise you with creations others, like you, enjoy. Drag recipes left or right to let us know your preferences!
		Our shuffle feature will suggest your daily meals in less than a second. Drag recipes around to distribute the meals you enjoy on different days. Try it out! You’ll have your ideal week in no time.
	</p>
  
</div>	