 <div class="section food-names">

      <div class="center-horizontal-children">
        <h3 class="green"> WHAT ARE WE EATING THIS WEEK?</h3>
        <span style="color:black; font-size:1em;" class="help-text">Try dragging items around.</span>
      </div>

      
      <div id="days-items" class="center-horizontal-children" style="margin: 0 auto; padding-top:10vh;">
         <div id="first_day" class="sortable-day center connectedSortable one" ></div>
         <div id="second_day" class="sortable-day center connectedSortable two"></div>
         <div id="third_day" class="sortable-day center connectedSortable three" ></div>
      </div>
      <div class="center-horizontal-children">
          <p onclick="spawnOnto('first_day');" class="addition"> [+] </p>
          <p onclick="spawnOnto('second_day');" class="addition"> [+] </p>
          <p onclick="spawnOnto('third_day');" class="addition"> [+] </p>
      </div>

 </div>

 <script type="text/javascript">
   
  // var imgUrl = "'assets/food/" + num + ".png'";
 </script>