 <div class="section food-names">

    <img class="bg-img" style="background-image: url('/assets/ingredients-photo.png');" />

      <div class="center-horizontal-children" style="padding-top: 4vh;">
        <h3 class="green" style="margin: 0;">WHAT ARE WE EATING THIS WEEK?</h3>
        <br>
        <span style="color:black; font-size:1em;" class="help-text">Try dragging items around.</span>
      </div>

      <div class="center-horizontal-children" style="padding-top:5vh;">
          <p onclick="spawnOnto('first_day');" class="addition"> Monday </p>
          <p onclick="spawnOnto('second_day');" class="addition"> Tuesday </p>
          <p onclick="spawnOnto('third_day');" class="addition"> Wednesday </p>
      </div>
      <div id="days-items" class="center-horizontal-children" style="margin: 0 auto;">
         <div id="first_day" class="sortable-day center connectedSortable one" ></div>
         <div id="second_day" class="sortable-day center connectedSortable two"></div>
         <div id="third_day" class="sortable-day center connectedSortable three" ></div>
      </div>
      <div class="center-horizontal-children">
          <!-- <p onclick="spawnOnto('first_day');" class="addition"> [+] </p>
          <p onclick="spawnOnto('second_day');" class="addition"> [+] </p>
          <p onclick="spawnOnto('third_day');" class="addition"> [+] </p> -->
      </div>
  <span id="droppable" class="glyphicon glyphicon-trash" aria-hidden="true"></span>
 </div>

 <script type="text/javascript">
   
  // var imgUrl = "'assets/food/" + num + ".png'";
 </script>


  <!-- js for adding and spawning elements -->
  <script type="text/javascript">
    function getRandomArbitrary(min, max) {
      return Math.floor(Math.random() * (max - min) + min) + 1;
    }
    function generate(){
      var children = $('#days-items').find(".connectedSortable");
      children.find(".sortable").remove();
      for (var i = 0; i < children.length; i++) {
        var tableChild = $(children[i]);
        
        for (var x = 0; x < 3; x++) {
          tableChild.prepend(wrapElement().fadeIn(400));
         }
      }

    }

    // $(".add").on('click', );
    

    function spawnOnto(id_str, recipe){
      if(!recipe) return;
      spawn($("#"+id_str), recipe)
    }
    function spawn(element, recipe){
      element.prepend(wrapElement(recipe).fadeIn(400));
    }
    var wrapElement = function(targetRecipe){

      var recipe;

      if (targetRecipe)
        recipe = targetRecipe;
      else {
        var num = getRandomArbitrary(0,gon.recipes.length);
        recipe = gon.recipes[num];
      }

      var imgUrl = recipe.remote_photo_url;
      var div = $('<div style="background: url(' + imgUrl + ') no-repeat center center;" class="sortable ui-sortable-handle "></div>');
        var hidden = $('<div class="inner"></div>');
          var remove = $('<p class="remove" style="color:red;"></p>');
          var title = $('<p style="text-shadow: 1px 1px 5px black; color: white;">' + recipe.name + '</p>');
          var info = $('<p>' + '</p>'); // put info here
        hidden.append(remove);
        hidden.append(title);
        hidden.append(info);
      div.append(hidden);
      return div;
    }

</script>

