<div class="section shoppinglist" style="min-height: 50vh;">
	
	<div style="display: block; text-align: center;">
		
    <h3 class="green">WHAT'S IN MY SHOPPING LIST?</h3>

    <span style="color:black; font-size:1em;" class="help-text">Keep track of what ingredients you need.</span>
		
    <!-- %= link_to "Get Started &rarr;".html_safe, new_user_registration_path, class:"button-link green" %>	 -->

		<div style="background-color: white; opacity: 0.8; width: 700px; min-height: 40px; max-width: 95vw; margin-right: auto; margin-left: auto;">			
			<!-- <img src="/sample_shopping.png" style="width: 100%;" /> -->
			<%= render 'static_shopping_list' %>
		</div>

	</div>
	 


</div>

<%= render "about_seo" %>