<div class="section shoppinglist" style="min-height: 50vh; padding-top: 5vh;">
	
	<div style="display: block; text-align: center;">
		<h1 style="color:lightgrey;">Finish planning your week!</h1>
		<h3 style="color:grey;"> Generate your weekly shopping list.</h3>
		<hr style="max-width: 500px;">
		<%= link_to "Get Started &rarr;".html_safe, new_user_registration_path, class:"button-link green" %>	
		<hr style="max-width: 500px;">
		<div style="background-color: white; opacity: 0.8; width: 700px; min-height: 40px; max-width: 95vw; margin-right: auto; margin-left: auto;">
			
			<%= render "static_shopping_list" %>

		</div>

	</div>
	 
	


	<%= render "about_seo" %>

</div>