<div class="section shoppinglist" style="min-height: 50vh; padding-top: 5vh;">
	
	<div style="display: block; text-align: center;">
		<h1 style="color:lightgrey;">Finish planning your week!</h1>
		<h3 style="color:grey;"> Some more text about FoodStella</h3>
		<hr style="max-width: 500px;">	
		<%= link_to "Get Started &rarr;".html_safe, new_user_registration_path, class:"button-link green" %>
	</div>
	 
	
	<div style="height: 80vh;">
		<!-- spacer -->
	</div>

	<%= render "about_seo" %>

</div>