<div class="section shoppinglist" style="min-height: 50vh; padding-top: 5vh;">
	
	<div style="display: block; text-align: center;">
		<h1 style="color:lightgrey;">Finish planning your week!</h1>
		<h3 style="color:grey;"> Some more text about FoodStella</h3>
		<hr style="max-width: 500px;">	
		<%= link_to "Get Started &rarr;".html_safe, new_user_registration_path, class:"button-link green" %>
	</div>
	 
	
	<div style="height: 80vh;">
		<!-- spacer -->
	</div>

	<div style="max-width: 800px; text-align: center; margin-right: auto; margin-left: auto;">
		<h3 style="color: grey;">About FoodStella</h3>
		<hr>
		<p style="text-align: justify;">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et nisi elit. In hac habitasse platea dictumst. Mauris sed tristique massa, non consectetur lorem. Aliquam fringilla enim non nulla dignissim ultrices. In non scelerisque orci. Nullam tincidunt diam mollis elementum egestas. Integer venenatis volutpat sem, sit amet eleifend magna mollis eget. Curabitur sit amet mauris eu lorem pellentesque rhoncus interdum ut tellus. In venenatis eleifend felis, et gravida augue sodales in. Praesent in suscipit est, non maximus lacus. Vivamus et magna sapien.
		</p>


		<h3 style="color: grey;">FoodStella uses machine learning to match your meals</h3>
		<hr>
		<p style="text-align: justify;">
			Donec ullamcorper eleifend purus, in suscipit diam convallis vitae. Nulla facilisi. Aenean auctor a nibh ac porta. Etiam sollicitudin dui et odio facilisis, nec blandit quam bibendum. Phasellus leo urna, condimentum ac iaculis sed, vestibulum ac elit. Donec vitae elit diam. Fusce at elementum massa, eget rhoncus libero. Cras a auctor nisi. Aenean mollis sit amet massa nec iaculis. Cras eu molestie elit. In ut fringilla ipsum. Curabitur leo nunc, viverra eget euismod gravida, consequat non diam. Vivamus ullamcorper lacus quis sem luctus, vitae accumsan mauris pretium. Nunc consequat massa consequat sapien egestas ultricies. Maecenas sit amet metus nec orci aliquet varius congue nec nunc. Curabitur vulputate congue vestibulum.
		</p>


		<h3 style="color: grey;">FoodStella does so and so</h3>
		<hr>
		<p style="text-align: justify;">
			In rutrum hendrerit dui, vitae ornare erat imperdiet nec. Integer ornare sem vel bibendum scelerisque. In eget vehicula turpis. Nullam mattis ornare massa sit amet blandit. Etiam vel nisi tortor. Donec bibendum metus nec libero sollicitudin, ac mattis purus feugiat. In non erat pellentesque, semper purus sit amet, rhoncus libero. Praesent vehicula risus eu ligula scelerisque scelerisque. Sed vitae dui ante
		</p>
	</div>

</div>