<%= render "login" %>

<div class="section sign-in">
  <img class="bg-img" style="background-image: url('/assets/home-photo.png');" />
   <div class="links" style="">
    <!-- <a href="/users/sign_up" class="button-link black">SIGN UP</a> -->
    <a href="#getStarted" class="button-link green" onclick="toggle('#sign-in-block')"> SIGN IN</a>
    <a href="/users/sign_up" class="button-link black" onclick="toggle('#sign_up')"> GET STARTED </a>
      </div>

  <div class="info">
    <span class="explain-text" style="max-width: 97vw; max-width: 400px; font-size: 1.3em; color:black; text-shadow: 1px 1px 2px white;">
    Plan spontaneity! With three clicks you can create a grocery list from your favorite recipes. Finding and planning what to eat has never been easier!
    </span>
  </div>
</div>