<div class="shopping-list-container">
			<div class="shopping-list-header">
			  <h1>Next Week's Shopping List (Sample)</h1>
			</div>

      
      

            <h2 class="shopping-item">Ingredients</span></h2>

            <h2 class="shopping-item">Dairy and Egg Products <span class="expando"></span>
        			<div class="list-box" style="display: none;">
        				<ol>
        			  		  <li>
        			  		  	<label>
          						     <div class="icheckbox_minimal-green" style="position: relative;"><input type="checkbox" class="icheck-me" data-skin="minimal" data-color="green" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
                            1 1/2 Cup blue cheese
        			  		  	</label>
        			  		  </li>
        			  		  <li>
        			  		  	<label>
          						     <div class="icheckbox_minimal-green" style="position: relative;"><input type="checkbox" class="icheck-me" data-skin="minimal" data-color="green" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
                            1/4 Cup heavy cream
        			  		  	</label>
        			  		  </li>
        			  		  <li>
        			  		  	<label>
          						     <div class="icheckbox_minimal-green" style="position: relative;"><input type="checkbox" class="icheck-me" data-skin="minimal" data-color="green" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
                            4 Oz. cream cheese
        			  		  	</label>
        			  		  </li>
        			  		  <li>
        			  		  	<label>
          						     <div class="icheckbox_minimal-green" style="position: relative;"><input type="checkbox" class="icheck-me" data-skin="minimal" data-color="green" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
                            1  egg
        			  		  	</label>
        			  		  </li>
                    <li style="float:none; clear:both;"></li>
        				</ol>
        			</div>
            </h2>
            <h2 class="shopping-item">Beverages <span class="expando"></span>
        			<div class="list-box" style="display: none;">
        				<ol>
        			  		  <li>
        			  		  	<label>
          						     <div class="icheckbox_minimal-green" style="position: relative;"><input type="checkbox" class="icheck-me" data-skin="minimal" data-color="green" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
                            1/2 Cup red wine
        			  		  	</label>
        			  		  </li>
                    <li style="float:none; clear:both;"></li>
        				</ol>
        			</div>
            </h2>
            <h2 class="shopping-item">Spices and Herbs <span class="expando"></span>
        			<div class="list-box" style="display: none;">
        				<ol>
        			  		  <li>
        			  		  	<label>
          						     <div class="icheckbox_minimal-green" style="position: relative;"><input type="checkbox" class="icheck-me" data-skin="minimal" data-color="green" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
                            3 Tbsp. cider vinegar
        			  		  	</label>
        			  		  </li>
        			  		  <li>
        			  		  	<label>
          						     <div class="icheckbox_minimal-green" style="position: relative;"><input type="checkbox" class="icheck-me" data-skin="minimal" data-color="green" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
                            2 Tsp. oregano
        			  		  	</label>
        			  		  </li>
        			  		  <li>
        			  		  	<label>
          						     <div class="icheckbox_minimal-green" style="position: relative;"><input type="checkbox" class="icheck-me" data-skin="minimal" data-color="green" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
                            4  cloves garlic
        			  		  	</label>
        			  		  </li>
        			  		  <li>
        			  		  	<label>
          						     <div class="icheckbox_minimal-green" style="position: relative;"><input type="checkbox" class="icheck-me" data-skin="minimal" data-color="green" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
                            2  cloves garlic
        			  		  	</label>
        			  		  </li>
                    <li style="float:none; clear:both;"></li>
        				</ol>
        			</div>
            </h2><h2 class="shopping-item">Fruits and Fruit Juices <span class="expando"></span>
      			<div class="list-box" style="display: none;">
      				<ol>
      			  		  <li>
      			  		  	<label>
        						     <div class="icheckbox_minimal-green" style="position: relative;"><input type="checkbox" class="icheck-me" data-skin="minimal" data-color="green" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
                          1 Tsp. lemon juice
      			  		  	</label>
      			  		  </li>
                  <li style="float:none; clear:both;"></li>
      				</ol>
      			</div>
            </h2><h2 class="shopping-item">Nut and Seed Products <span class="expando"></span>
      			<div class="list-box" style="display: none;">
      				<ol>
      			  		  <li>
      			  		  	<label>
        						     <div class="icheckbox_minimal-green" style="position: relative;"><input type="checkbox" class="icheck-me" data-skin="minimal" data-color="green" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
                          2 Tsp. celery seeds
      			  		  	</label>
      			  		  </li>
      			  		  <li>
      			  		  	<label>
        						     <div class="icheckbox_minimal-green" style="position: relative;"><input type="checkbox" class="icheck-me" data-skin="minimal" data-color="green" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
                          1/4 Cup walnuts
      			  		  	</label>
      			  		  </li>
      			  		  <li>
      			  		  	<label>
        						     <div class="icheckbox_minimal-green" style="position: relative;"><input type="checkbox" class="icheck-me" data-skin="minimal" data-color="green" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
                          4 Tbsp. butter
      			  		  	</label>
      			  		  </li>
                  <li style="float:none; clear:both;"></li>
      				</ol>
      			</div>
            </h2><h2 class="shopping-item">Vegetables and Vegetable Products <span class="expando"></span>
      			<div class="list-box" style="display: none;">
      				<ol>
      			  		  <li>
      			  		  	<label>
        						     <div class="icheckbox_minimal-green" style="position: relative;"><input type="checkbox" class="icheck-me" data-skin="minimal" data-color="green" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
                          1/2  onion
      			  		  	</label>
      			  		  </li>
      			  		  <li>
      			  		  	<label>
        						     <div class="icheckbox_minimal-green" style="position: relative;"><input type="checkbox" class="icheck-me" data-skin="minimal" data-color="green" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
                          8 Cups green cabbage
      			  		  	</label>
      			  		  </li>
      			  		  <li>
      			  		  	<label>
        						     <div class="icheckbox_minimal-green" style="position: relative;"><input type="checkbox" class="icheck-me" data-skin="minimal" data-color="green" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
                          1  carrot
      			  		  	</label>
      			  		  </li>
      			  		  <li>
      			  		  	<label>
        						     <div class="icheckbox_minimal-green" style="position: relative;"><input type="checkbox" class="icheck-me" data-skin="minimal" data-color="green" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
                          16  butternut squash
      			  		  	</label>
      			  		  </li>
      			  		  <li>
      			  		  	<label>
        						     <div class="icheckbox_minimal-green" style="position: relative;"><input type="checkbox" class="icheck-me" data-skin="minimal" data-color="green" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
                          1 Tsp. salt
      			  		  	</label>
      			  		  </li>
      			  		  <li>
      			  		  	<label>
        						     <div class="icheckbox_minimal-green" style="position: relative;"><input type="checkbox" class="icheck-me" data-skin="minimal" data-color="green" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
                          1/2 Tsp. pepper
      			  		  	</label>
      			  		  </li>
      			  		  <li>
      			  		  	<label>
        						     <div class="icheckbox_minimal-green" style="position: relative;"><input type="checkbox" class="icheck-me" data-skin="minimal" data-color="green" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
                          2 Tbsp. parsley
      			  		  	</label>
      			  		  </li>
      			  		  <li>
      			  		  	<label>
        						     <div class="icheckbox_minimal-green" style="position: relative;"><input type="checkbox" class="icheck-me" data-skin="minimal" data-color="green" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
                          3/4 Cups carrot
      			  		  	</label>
      			  		  </li>
      			  		  <li>
      			  		  	<label>
        						     <div class="icheckbox_minimal-green" style="position: relative;"><input type="checkbox" class="icheck-me" data-skin="minimal" data-color="green" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
                          1 Cup onion
      			  		  	</label>
      			  		  </li>
      			  		  <li>
      			  		  	<label>
        						     <div class="icheckbox_minimal-green" style="position: relative;"><input type="checkbox" class="icheck-me" data-skin="minimal" data-color="green" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
                          1  bay leaf
      			  		  	</label>
      			  		  </li>
      			  		  <li>
      			  		  	<label>
        						     <div class="icheckbox_minimal-green" style="position: relative;"><input type="checkbox" class="icheck-me" data-skin="minimal" data-color="green" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
                          1  fennel bulb
      			  		  	</label>
      			  		  </li>
      			  		  <li>
      			  		  	<label>
        						     <div class="icheckbox_minimal-green" style="position: relative;"><input type="checkbox" class="icheck-me" data-skin="minimal" data-color="green" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
                          2 Cups watercress
      			  		  	</label>
      			  		  </li>
      			  		  <li>
      			  		  	<label>
        						     <div class="icheckbox_minimal-green" style="position: relative;"><input type="checkbox" class="icheck-me" data-skin="minimal" data-color="green" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
                          1/2 Tsp. red pepper
      			  		  	</label>
      			  		  </li>
      			  		  <li>
      			  		  	<label>
        						     <div class="icheckbox_minimal-green" style="position: relative;"><input type="checkbox" class="icheck-me" data-skin="minimal" data-color="green" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
                          1 Cup carrot
      			  		  	</label>
      			  		  </li>
                  <li style="float:none; clear:both;"></li>
      				</ol>
      			</div>
            </h2><h2 class="shopping-item">Soups Sauces and Gravies <span class="expando"></span>
      			<div class="list-box" style="display: none;">
      				<ol>
      			  		  <li>
      			  		  	<label>
        						     <div class="icheckbox_minimal-green" style="position: relative;"><input type="checkbox" class="icheck-me" data-skin="minimal" data-color="green" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
                          3/4 Cups barbecue sauce
      			  		  	</label>
      			  		  </li>
      			  		  <li>
      			  		  	<label>
        						     <div class="icheckbox_minimal-green" style="position: relative;"><input type="checkbox" class="icheck-me" data-skin="minimal" data-color="green" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
                          1/2 Cup celery
      			  		  	</label>
      			  		  </li>
      			  		  <li>
      			  		  	<label>
        						     <div class="icheckbox_minimal-green" style="position: relative;"><input type="checkbox" class="icheck-me" data-skin="minimal" data-color="green" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
                          1 Cup sodium chicken broth
      			  		  	</label>
      			  		  </li>
      			  		  <li>
      			  		  	<label>
        						     <div class="icheckbox_minimal-green" style="position: relative;"><input type="checkbox" class="icheck-me" data-skin="minimal" data-color="green" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
                          2 Tbsp. water
      			  		  	</label>
      			  		  </li>
      			  		  <li>
      			  		  	<label>
        						     <div class="icheckbox_minimal-green" style="position: relative;"><input type="checkbox" class="icheck-me" data-skin="minimal" data-color="green" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
                          1 Cup stalk celery
      			  		  	</label>
      			  		  </li>
                  <li style="float:none; clear:both;"></li>
      				</ol>
      			</div>
            </h2><h2 class="shopping-item">Fats and Oils <span class="expando"></span>
      			<div class="list-box" style="display: none;">
      				<ol>
      			  		  <li>
      			  		  	<label>
        						     <div class="icheckbox_minimal-green" style="position: relative;"><input type="checkbox" class="icheck-me" data-skin="minimal" data-color="green" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
                          3/4 Cups mayonnaise
      			  		  	</label>
      			  		  </li>
      			  		  <li>
      			  		  	<label>
        						     <div class="icheckbox_minimal-green" style="position: relative;"><input type="checkbox" class="icheck-me" data-skin="minimal" data-color="green" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
                          2 Tbsp. olive oil
      			  		  	</label>
      			  		  </li>
      			  		  <li>
      			  		  	<label>
        						     <div class="icheckbox_minimal-green" style="position: relative;"><input type="checkbox" class="icheck-me" data-skin="minimal" data-color="green" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
                          1 Tbsp. olive oil
      			  		  	</label>
      			  		  </li>
                  <li style="float:none; clear:both;"></li>
      				</ol>
      			</div>
            </h2><h2 class="shopping-item">Fast Foods <span class="expando"></span>
      			<div class="list-box" style="display: none;">
      				<ol>
      			  		  <li>
      			  		  	<label>
        						     <div class="icheckbox_minimal-green" style="position: relative;"><input type="checkbox" class="icheck-me" data-skin="minimal" data-color="green" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
                          1 Oz. thick
      			  		  	</label>
      			  		  </li>
                  <li style="float:none; clear:both;"></li>
      				</ol>
      			</div>
            </h2><h2 class="shopping-item">Baked Products <span class="expando"></span>
      			<div class="list-box" style="display: none;">
      				<ol>
      			  		  <li>
      			  		  	<label>
        						     <div class="icheckbox_minimal-green" style="position: relative;"><input type="checkbox" class="icheck-me" data-skin="minimal" data-color="green" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
                          4  hamburger buns
      			  		  	</label>
      			  		  </li>
      			  		  <li>
      			  		  	<label>
        						     <div class="icheckbox_minimal-green" style="position: relative;"><input type="checkbox" class="icheck-me" data-skin="minimal" data-color="green" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
                          2 Tbsp. sugar
      			  		  	</label>
      			  		  </li>
      			  		  <li>
      			  		  	<label>
        						     <div class="icheckbox_minimal-green" style="position: relative;"><input type="checkbox" class="icheck-me" data-skin="minimal" data-color="green" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
                          8 3/4 Oz. Pepperidge Farmuae Puff Pastry Sheets
      			  		  	</label>
      			  		  </li>
                  <li style="float:none; clear:both;"></li>
      				</ol>
      			</div>
            </h2><h2 class="shopping-item">Baby Foods <span class="expando"></span>
      			<div class="list-box" style="display: none;">
      				<ol>
      			  		  <li>
      			  		  	<label>
        						     <div class="icheckbox_minimal-green" style="position: relative;"><input type="checkbox" class="icheck-me" data-skin="minimal" data-color="green" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
                          1  Granny Smith apple
      			  		  	</label>
      			  		  </li>
                  <li style="float:none; clear:both;"></li>
      				</ol>
      			</div>
            </h2><h2 class="shopping-item">Beef Products <span class="expando"></span>
      			<div class="list-box" style="display: none;">
      				<ol>
      			  		  <li>
      			  		  	<label>
        						     <div class="icheckbox_minimal-green" style="position: relative;"><input type="checkbox" class="icheck-me" data-skin="minimal" data-color="green" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
                          32  beef chuck
      			  		  	</label>
      			  		  </li>
                  <li style="float:none; clear:both;"></li>
      				</ol>
      			</div>
            </h2><h2 class="shopping-item">Poultry Products <span class="expando"></span>
      			<div class="list-box" style="display: none;">
      				<ol>
      			  		  <li>
      			  		  	<label>
        						     <div class="icheckbox_minimal-green" style="position: relative;"><input type="checkbox" class="icheck-me" data-skin="minimal" data-color="green" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
                          2 1/2 Tbsp. all purpose flour
      			  		  	</label>
      			  		  </li>
                  <li style="float:none; clear:both;"></li>
      				</ol>
      			</div>
            </h2><h2 class="shopping-item">Branded Food Products Database <span class="expando"></span>
      			<div class="list-box" style="display: none;">
      				<ol>
      			  		  <li>
      			  		  	<label>
        						     <div class="icheckbox_minimal-green" style="position: relative;"><input type="checkbox" class="icheck-me" data-skin="minimal" data-color="green" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
                          2 Oz. dice
      			  		  	</label>
      			  		  </li>
      			  		  <li>
      			  		  	<label>
        						     <div class="icheckbox_minimal-green" style="position: relative;"><input type="checkbox" class="icheck-me" data-skin="minimal" data-color="green" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
                          1 Cup dice
      			  		  	</label>
      			  		  </li>
      			  		  <li>
      			  		  	<label>
        						     <div class="icheckbox_minimal-green" style="position: relative;"><input type="checkbox" class="icheck-me" data-skin="minimal" data-color="green" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
                          2 Cups dice
      			  		  	</label>
      			  		  </li>
                  <li style="float:none; clear:both;"></li>
      				</ol>
      			</div>
            </h2><h2 class="shopping-item">Cereal Grains and Pasta <span class="expando"></span>
      			<div class="list-box" style="display: none;">
      				<ol>
      			  		  <li>
      			  		  	<label>
        						     <div class="icheckbox_minimal-green" style="position: relative;"><input type="checkbox" class="icheck-me" data-skin="minimal" data-color="green" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
                          2 Tsp. cornstarch
      			  		  	</label>
      			  		  </li>
                  <li style="float:none; clear:both;"></li>
      				</ol>
      			</div>
            <h2 class="shopping-item">Other <span class="expando"></span>
            <div class="list-box" style="display: none;">
              <ol>
                    <li>
                      <label>
                         <div class="icheckbox_minimal-green" style="position: relative;"><input type="checkbox" class="icheck-me" data-skin="minimal" data-color="green" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
                          8  parsnips
                      </label>
                    </li>
                    <li>
                      <label class="">
                         <div class="icheckbox_minimal-green" style="position: relative;"><input type="checkbox" class="icheck-me" data-skin="minimal" data-color="green" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
                          10 Oz. Brussels sprouts
                      </label>
                    </li>
                    <li>
                      <label>
                         <div class="icheckbox_minimal-green" style="position: relative;"><input type="checkbox" class="icheck-me" data-skin="minimal" data-color="green" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
                          14 Oz. low sodium chicken broth
                      </label>
                    </li>
                    <li>
                      <label>
                         <div class="icheckbox_minimal-green" style="position: relative;"><input type="checkbox" class="icheck-me" data-skin="minimal" data-color="green" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
                          1 1/2 Tbsp. apple cider vinegar
                      </label>
                    </li>
                    <li>
                      <label>
                         <div class="icheckbox_minimal-green" style="position: relative;"><input type="checkbox" class="icheck-me" data-skin="minimal" data-color="green" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
                          1/4 Cup Parmigiano Reggiano
                      </label>
                    </li>
                    <li>
                      <label>
                         <div class="icheckbox_minimal-green" style="position: relative;"><input type="checkbox" class="icheck-me" data-skin="minimal" data-color="green" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
                          5 Oz. piecrust sheets
                      </label>
                    </li>
                    <li>
                      <label>
                         <div class="icheckbox_minimal-green" style="position: relative;"><input type="checkbox" class="icheck-me" data-skin="minimal" data-color="green" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
                          8 Oz. button mushrooms
                      </label>
                    </li>
                    <li>
                      <label>
                         <div class="icheckbox_minimal-green" style="position: relative;"><input type="checkbox" class="icheck-me" data-skin="minimal" data-color="green" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
                          8 Oz. shiitake mushrooms
                      </label>
                    </li>
                    <li>
                      <label>
                         <div class="icheckbox_minimal-green" style="position: relative;"><input type="checkbox" class="icheck-me" data-skin="minimal" data-color="green" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
                          8 Cups Swansonuae Chicken Broth
                      </label>
                    </li>
                    <li>
                      <label>
                         <div class="icheckbox_minimal-green" style="position: relative;"><input type="checkbox" class="icheck-me" data-skin="minimal" data-color="green" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
                          4  Italian plum tomatoes
                      </label>
                    </li>
                    <li>
                      <label>
                         <div class="icheckbox_minimal-green" style="position: relative;"><input type="checkbox" class="icheck-me" data-skin="minimal" data-color="green" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
                          16 Oz. bag lentils
                      </label>
                    </li>
                  <li style="float:none; clear:both;"></li>
              </ol>
            </div>
            </h2>
		</h2>
  </div>