<script>
document.addEventListener("turbolinks:load", function() {
  $('.sessions.new').ready(function() {  

    console.log("logging")
    // console.log(gon.recipes)
    
    updateMiddle(gon.recipes[0]);
  });
});


$( document ).ready(function() {
  console.log("logging")
  updateMiddle(gon.recipes[0]);
  console.log(refreshData(10, true));
});


  function refreshData(id, liked) {
      console.log("refreshData called");
      data = {
        recipe_id: id,
        liked: liked
      }
  
      var token = $('meta[name="csrf-token"]').attr('content');
      $.ajax({url:"/static_pages/temporary_preference",
            type:'POST',
            beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', token)},
            data: data,
            success:function (response) {
              console.log("success response: " + response)
              return response;
            },
            failure: function (response) {
              console.log("Fail response: " + response)
              return response;
            },
            error: function() {
                  console.log("ajax error")
              }
        }); //end ajax
    };

  function updateMiddle(recipe){
    $("#curName").html(recipe.name);
    $("#recipe-description").html(recipe.description);

    var yesNoBox = "<div class='sortable' style='background: url(\"" + recipe.remote_photo_url + "\")no-repeat center center;' recipe-id='" + recipe.id + "'>"

     yesNoBox = yesNoBox + "<div class='inner'>";
     yesNoBox = yesNoBox +  "<p name='" + recipe.id + "style='color:red;' onclick='removeFunct(this)''> X </p>";
     yesNoBox = yesNoBox +  "<p style='font-size:0.4em;'>" + recipe.description + "</p>";
    
    yesNoBox = yesNoBox 
        + "</div>"
     + "</div>";

    $(".start-box").html(yesNoBox);
  }
    
  var gun_count = 0;
  function removeFunct(item){
    
    $(item).parent().parent().remove();
    
    //refreshData($(item).parent().parent().attr("recipe-id"), false);
    gun_count ++;
    if (gun_count > gon.recipes.length-1) {gun_count = 0}
    updateMiddle(gon.recipes[gun_count]);
  }
  
  function toggle(item){
    $(item).toggle(500);
  }

  

</script>




<div class="section drag-yes-no" style="background-color: transparent;">

      <a style="display:none;" name="getStarted"></a>
      <div class="center-horizontal-children" style="">
        <h3 style="color:white;"> ANYTHING LOOK GOOD?</h3>
        <div style="max-width: 500px; text-align: center; margin-right: auto; margin-left: auto;">
       
        <span style="color:orange; font-size:em;" class="help-text">Try dragging items around.</span>
       <!--  <span style="color: grey;">Tell us what you like and don’t like. We will recommend similar recipes and surprise you with creations others, like you, enjoy. Drag recipes left or right to let us know your preferences!</span> -->
        </div>
      </div>
      
      <div class="rater">
        <div id="sortable1" class="selector-box connectedSortable no-box"> </div>
        <div id="sortable2" class="selector-box connectedSortable start-box" style="border: 1px solid transparent;"></div>
        <div id="sortable3" class="selector-box connectedSortable yes-box"> </div>
        

           <!-- style="background-color:lightgrey; border:5px dotted green;  background: url('assets/images/like-30.png') no-repeat center center;" -->
      </div>
      <div class="info">
        <p id="curName"></p>
        <span id="recipe-description">
        <emp>
          Our recommendation engine </emp> uses your picks to fine food you might like to try. You can use it easily to fine more recipes, schedule your meals for the next week or even generate a shopping list.
        </span>
      </div>

    </div>