<!--<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5&appId=1587213768258926";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>-->

<!-- NOTES FROM PATRICK 

Hey, so this ajax request should work now, send a recipe with the param liked set to true or false and the backend will return another recipe as well as a token, send the token along with any subsequent requests as the param token (a string).  The code is in the static_pages controller under temporary_preference, and the ajax request below contains the URL (POST request).  You also now have 5 randomly generate recipes available through the variable gon.recipes.  I haven't had a chance to buikd out a feature to shuffle these yet.

-->
  <script>
document.addEventListener("turbolinks:load", function() {
  $('.sessions.new').ready(function() {  

    console.log("logging")
    // console.log(gon.recipes)
    // console.log(refreshData(10, true));
    updateMiddle(gon.recipes[0]);
  });
});


$( document ).ready(function() {
  updateMiddle(gon.recipes[0]);
});


  function refreshData(id, liked) {
      data = {
        recipe: id,
        liked: liked
      }

      $.ajax({//ajax call 
            type:'POST',
            data: data,
            url:"/static_pages/temporary_preference",
            beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
            success:function (response) {
              console.log(response)
              return response;
            }
        }); //end ajax
    };

  function updateMiddle(recipe){
    $("#curName").html(recipe.name);
    $("#recipe-description").html(recipe.description);

    var yesNoBox = "<div class='sortable' style='background: url(\"" + recipe.remote_photo_url + "\")no-repeat center center;' recipe-id='" + recipe.id + "'>"

     yesNoBox = yesNoBox + "<div class='inner'>";
     yesNoBox = yesNoBox +  "<p name='" + recipe.id + "'  class='remove' style='color:red;' onclick='removeFunct(this)''> X </p>";
     yesNoBox = yesNoBox +  "<p style='font-size:0.4em;'>" + recipe.description + "</p>";
    
    yesNoBox = yesNoBox 
        + "</div>"
     + "</div>";

    $(".start-box").html(yesNoBox);
  }
    
  var gun_count = 0;
  function removeFunct(item){

    $(item).parent().parent().remove();
    
    refreshData($(item).parent().parent().attr("recipe-id"), false);
    gun_count ++;
    if (gun_count > 4) {gun_count = 0}
    updateMiddle(gon.recipes[gun_count]);
  }
  
  function toggle(item){
    $(item).toggle(30);
  }

</script>

<div class="homepage">
    <div class="section title">
      <div class="mainlogo">
           <%= image_tag "logo-foodstella.png", id: "logo" %>
      </div>
    </div>
    <div class="section tagline">
         The easiest way to plan your week!
    </div>
        
    <%= render "sign_in_section" %>
    <div class="section drag-yes-no">
      <a style="display:none;" name="getStarted"></a>
      <div class="center-horizontal-children">
        <h3 style="color:white;"> ANYTHING LOOK GOOD?</h3>
        <span style="color:orange; font-size:1em;" class="help-text">Try dragging items around.</span>
      </div>
      
      <div class="rater">
        <div id="sortable1" class="selector-box connectedSortable no-box"> </div>
        <div id="sortable2" class="selector-box connectedSortable start-box""></div>
        <div id="sortable3" class="selector-box connectedSortable yes-box"></div>
           <!-- style="background-color:lightgrey; border:5px dotted green;  background: url('assets/images/like-30.png') no-repeat center center;" -->
      </div>
      <div class="info">
        <p id="curName"></p>
        <span id="recipe-description"></span>
      </div>

    </div>
    <div class="section food-names">

      <div class="center-horizontal-children">
        <h3 class="green"> WHAT ARE WE EATING THIS WEEK?</h3>
        <span style="color:black; font-size:1em;" class="help-text">Try dragging items around.</span>
      </div>

      
      <div id="days-items" class="center-horizontal-children" style="margin: 0 auto; padding-top:10vh;">
         <div id="first_day" class="sortable-day center connectedSortable one" ></div>
         <div id="second_day" class="sortable-day center connectedSortable two"></div>
         <div id="third_day" class="sortable-day center connectedSortable three" ></div>
      </div>
      <div class="center-horizontal-children">
          <p onclick="spawnOnto('first_day');" class="addition"> [+] </p>
          <p onclick="spawnOnto('second_day');" class="addition"> [+] </p>
          <p onclick="spawnOnto('third_day');" class="addition"> [+] </p>
      </div>
      
    </div>
    <div class="section shoppinglist">
      todo....

    </div>

</div>



<!-- js goes at the bottom of the body for loading speed-->
  <script type="text/javascript">
    // scrolling
    $('a[href^="#"]').on('click',function (e) {
        e.preventDefault();
        var target = this.hash;
        var $target = $(target);

        $('html, body').stop().animate({
            'scrollTop': $target.offset().top
        }, 600, 'swing', function () {
            window.location.hash = target;
        });
    });

    
    $( function() {
      $( "#sortable1, #sortable2, #sortable3, .sortable-day").sortable({
        connectWith: ".connectedSortable"
      }).disableSelection();
    } );
  
  </script>

  <!-- js for adding and spawning elements -->
  <script type="text/javascript">
    function getRandomArbitrary(min, max) {
      return Math.floor(Math.random() * (max - min) + min) + 1;
    }
    function generate(){
      var children = $('#days-items').find(".connectedSortable");
      children.find(".sortable").remove();
      for (var i = 0; i < children.length; i++) {
        var tableChild = $(children[i]);
        
        for (var x = 0; x < 3; x++) {
          tableChild.prepend(wrapElement().fadeIn(400));
         }
      }

    }

    // $(".add").on('click', );
    function spawnOnto(id_str){
      spawn($("#"+id_str))
    }
    function spawn(element){
      element.prepend(wrapElement().fadeIn(400));
    }
    var wrapElement = function(){
      var num = getRandomArbitrary(0,5);
      var imgUrl = "'assets/food/" + num + ".png'";
      var div = $('<div style="background: url(' + imgUrl + ') no-repeat center center;" class="sortable ui-sortable-handle"></div>');
        var hidden = $('<div class="inner"></div>');
          var remove = $('<p class="remove" style="color:red;" onclick="removeFunct(this)"> X </p>');
          var title = $('<p> Item number ' + num + '</p>');
          var info = $('<p> Information on item number ' + num + '</p>');
        hidden.append(remove);
        hidden.append(title);
        hidden.append(info);
      div.append(hidden);
      return div;
    }

  </script>

