.comment {
  font-size: 12px;
  font-weight: normal;
  font-style: normal;

  /*border-top: 1px solid;*/
  /*border-left: 1px solid;*/
  border-bottom: 1px solid #DDD;
  
  /*margin-top: 15px;*/
  /*margin-bottom: 15px;*/

  padding-top: 10px;
  /*padding-bottom: 5px;*/
  padding-left: 10px;
  padding-right: 10px;

  color: #000;
  border-color: #DDD;
  background-color: #FFF;
  
  clear: both;
  position: relative;
}

.comment_actions {
  /*float: right;*/
  position: absolute;
  bottom: 12px;
  right: 0;
}
  .comment_actions a { color: #ababab; }

.comment_body {
  padding-top: 3px;
}

.comment_body p {
	margin: 0px;

	overflow: hidden;
}

.comment_div {
	clear: both;
}

.comment_form_actions {
  margin-top: 15px;
  margin-bottom: 10px;
}

.comment_form_field textarea {
  padding: 0px;

  width: 100%;
}

input[type=cancel] { display: none; }
input[type=submit] {
  border: none;
  background-color: #819800;
  font-weight: bold;
  color: white;
  width: 120px;
  font-weight: lighter;
  float: right;
}
textarea:focus { outline: none; }
textarea {
  border: solid 1px #819800;
  /*width: 300px;*/
  /*height: 60px;*/
}

.comment_avatar {
  float: left;
  text-align: center;

  margin-top: 5px;
  margin-bottom: 10px;
  margin-right: 18px;
}

.comment_timestamp {
  color: #666;
}

.comment_votes {
  float: right;
  margin-top: 5px;
  margin-bottom: 5px;

  text-align: center;
}

.comment_votes input,
.comment_votes img {
  border: none;
  background-color: transparent;
  padding: 0px;
  margin: 0px;
  width: 1.4em;
  margin-right: 6px;
}

.comment_votes form {
  margin: 0px;
}

.comment_upvote {
  display: block;
  height: 18px;
  margin-top: 7px;
  margin-bottom: 7px;
  margin-left: 5px;
  margin-right: 5px;
}

.comment_downvote {
  display: block;
  height: 18px;
  margin-top: 7px;
  margin-bottom: 7px;
  margin-left: 5px;
  margin-right: 5px;
}

.comment_like {
  float: left;
}

.comment_like + .comment_vote_count {
  float: right;
  font-size: 1.2em;
  color: #819800;
}

.comment_error_explanation {
  margin-bottom: 10px;
}

.comment_error_explanation h3 {
  margin-top: 5px;
}

.comment_error_explanation ul {
  list-style-position: inside;
}
