$outer-container: 90%;

.disable-margins, .row {
	margin: 0;
}

.disable-padding {
    padding: 0;
}

.ui-state-active {
    box-shadow: inset 0 0 10px $green;
}

.glyphicon.spinning {
    animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg); }
    to { transform: scale(1) rotate(360deg); }
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}

.spinner {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 2em;
}


.calendar-page-header {
	background-color: $green;
	height: 25%;

	.planner-details {

		position: relative;
		margin: auto;
		width: 20%;
		height: 80%;

	  h3 {
		text-align: center;
    	color: white;
    	font-size: 1.2em;
   	 	padding: 0;
    	margin: 0;
    	letter-spacing: 2px;
    	font-weight: 200;
    	// margin-top: 20px;
        padding-top: 20px;
	  }

	  p {
		text-align: center;
		font-size: 2.5em;
		color: white;
		font-weight: 100;
		letter-spacing: 3px;
	  }

	}
} 

#sidebar-skinny {
    width: 20%;
}

// overriding scrollToFixed spacer to prevent content col from clearing spacer div
.sidebar-spacer{
    position: absolute !important;
}

//different stylings for the
//meal selection on mobile:

.recommended-header {
    font-size: 1.25em;
    color: $green;
    position: relative;
    text-align: left;
    border-bottom: 1px solid $light;
    margin-bottom: 1em;
    padding-bottom: .5em;
    width: 90%;
    margin: auto;
}

.recommended-recipes {
    position: relative;
    width: 90%;
    height: 30em;
    //overflow: auto;
    margin: auto;
    padding-top: .5em;
    padding-bottom: 10px;
}

.recommended-recipes .fc-event img {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 30;
}

.recommended-recipes .fc-event span {
    position: absolute;
    width: 100%;
    bottom:0;
    z-index: 40;
}

.recommended-recipes .fc-event span a {
    color: white;
    text-decoration: none;
    width: 100%;
    position: relative;
    left: 5%;
}

#in-list-recommended {
    height: 10em;
    width: 10em;
    display: inline-block;
    margin: 5px;
    cursor: pointer;
}

.meal-selection .mobile-selection-button {
    display: block;
    position: relative;
    width: 100%;
    height: 3em;
    background-color: white;
    border-top: 1px solid $medium;
    border-bottom: 1px solid $medium;
    box-shadow: none;
    border: none;
    color: $medium;
    text-align: left;
    font-size: 1.55em;
    font-weight: 400;
    padding-top: 5px;
    padding-bottom: 5px;
}



.meal-selection .mobile-selection-button span {
    float: right;
    font-size: 15px;
    background-color: $green;
    border-radius: 100%;
    height: 2.5em;
    width: 2.5em;
    padding-top: 10px;
}

//and different styling for the meal selectiion on desktop:
.meal-selection button {
    width: 100%;
    background-color: white;
    box-shadow: none;
    border: none;
    color: $medium;
    text-align: left;
    font-size: 1.25em;
    font-weight: 200;
    padding-top: 5px;
    padding-bottom: 5px;
}

.meal-selection span {
    float: right;
}

#sidebar-col{
    position: absolute;
    height: 100vh;
    // min-width: 280px;
    min-width: 250px;
    padding: 0;
    z-index: 20;

    -webkit-box-shadow:0 3px 8px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 3px 8px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 3px 8px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;

    .sidebar {
        padding: 0 15px;
    	background-color: white;
    	z-index: 100;
    	height: 100vh;
        max-height: 100vh;
        // overflow: hidden;
        // width: 20%;
        
        // min-width: 280px;

        .fc-event .remove {
            display: none;
            position: absolute;
            top: 0; right: 0;
            cursor: pointer;
        }
        .fc-event:hover .remove { display: block; }
     

        .dragNdrop {
            // color: $medium;
            color: $green;
            text-align: center;
            padding-top:10px;
            margin-top:10px;
            border-top: solid 1px lightgrey;
            // font-weight: 100;
            div {
                font-size: 1.1em;
                float:right;
                padding: 2px 0 0 2px;
            }
            white-space: nowrap;
        }

        .header {
        	height: 5em;
        	width: $outer-container;
        	margin: auto;
        	position: relative;
        	border-bottom: 1px solid lightgrey;

        	h2 {
        		color: $green;
        		float: left;
        		font-size: 1.7em;

                .spatula {
                    background-image: asset-url('icons/spatula-selected.png');
                    background-size: 100% 100%;
                    border-radius: 100%;
                    height: 1em;
                    /* width: 2em; */
                    width: 1em;
                    // cursor: pointer;
                    /* text-align: center; */
                    // top: -5.55em;
                    font-size: 1em;
                    position: relative;
                    top: 2px;
                    // left: 50%;
                    // transform: translateX(-50%);
                    display: inline-block;
                }
        	}

        	.glyphicon {
        		color: $green;
        		float: right;
        		position: relative;
        		top: 27px;
        		text-decoration: none;
        		font-size: 2em;
        	}
        }

        .meal-selection {
        	width: $outer-container;
        	margin: auto;
        	position: relative;
        	padding-top: 10px;
        	padding-bottom: 10px;


            .selection {
                .recipe-title {
                    width: 100%;
                    position: absolute;
                    background-color: rgba(176, 176, 176, 0.7);
                    text-align: center;
                    bottom: 0;
                    font-size: 1.2em;

                    a {
                        color: white;
                        text-decoration: none;
                    }
                }
            }

        	button:active,
    		button:focus,
    		button.active {
      			background-image: none;
      			outline: 0;
      			-webkit-box-shadow: none;
              	box-shadow: none;
    			}

        	.selection {
        		width: 100%;
        		display: none;

                // max-height: 60vh;
                // overflow-y: scroll;
        	}
            .selection.scrollable {
                overflow-y: scroll;
            }
            .selection.selection-dragging {
                max-height: 100vh !important;
                overflow-y: initial !important;
            }
        }
    }
}

.calendar-nav {
	height: 8em;
	padding: 0;
	z-index: 10;
    // float: left;
    float: right;
    // width: 60%;
    // width: 80%;
    float: right;
    background-color: white;

    min-width: 600px;
    max-width: calc(100% - 280px);

    #next-day, #previous-day, #next-week, #previous-week {
        position: relative;
        top: 40%;
        left: 4%;
        transform: translateY(-50%);
        color: $green;
        margin-left: 10px;

        img {
            height: 18px;
            margin-bottom: 2px;
        }
    }

    .day-view, .week-view {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        color: $green;
        background-color: white;
        float: right;
        margin-right: 10px;
        border: 1px solid $green;
        width: 10em;
    }

    #selected {
        background-color: $green;
        color: white;
    }
}

.calendar-nav .change-all-servings-box {
    width: 15em;
    position: absolute;
    bottom: .5em;
    left: 5%;
}

.calendar-nav .change-all-servings-box .header {
    color: $green;
}

.calendar-nav .change-all-servings-box {
    #minus-all-servings {
        padding-right: .5em;
        padding-left: 1em;
        font-size: 1.2em;
        top: 0.2em;
        color: $medium;
        cursor: pointer;
    }
    #plus-all-servings {
        position: relative;
        color: $medium;
        cursor: pointer;
    }
}

.calendar-nav .shuffle-button {
    position: absolute;
    bottom: .5em;
    right: 5%;
    color: $green;
    font-weight: bolder;
    cursor: pointer;
    i {
        font-weight: lighter;
    }
}

// .dragNdrop { animation: highlight_dnd 1s linear 3.5s 2 alternate; }
@-webkit-keyframes highlight_dnd {
    0% {
        color: $medium;
        text-shadow: none;
        // letter-spacing: 0px
    }
    66% {
        color: $green;
        text-shadow: 0 0 6px #71C800;
        letter-spacing: 1px;
    }
    100% {
        color: $green;
        text-shadow: 0 0 12px #71C800;
        letter-spacing: 1px;
    }
}
@keyframes highlight_dnd {
    0% {
        color: $medium;
        text-shadow: none;
        // letter-spacing: 0px
    }
    66% {
        color: $green;
        text-shadow: 0 0 6px #71C800;
        letter-spacing: 1px;
    }
    100% {
        color: $green;
        text-shadow: 0 0 12px #71C800;
        letter-spacing: 1px;
    }
}

// .header.halo_effect { animation: highlight_header 1s linear 1.5s 2 alternate; }
@-webkit-keyframes highlight_header {
    0% { text-shadow: none; }
    40% { text-shadow: 0 0 8px $orange; }
    100% { text-shadow: 0 0 14px $orange; }
}
@keyframes highlight_header {
    0% { text-shadow: none; }
    40% { text-shadow: 0 0 8px $orange; }
    100% { text-shadow: 0 0 14px $orange; }
}

// day view desktop

.day-calendar-desktop-container {
    height: 80em;
    background-color: white;
}

.day-view-header, .week-view-header {
    background-color: white;
    float: right;
    height: 4em;

}

.day-view-header h1, .week-view-header h1 {
     position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: $medium;
    font-weight: 100;
    letter-spacing: 2px;
    font-size: 2em;
    margin: 0;
    width: 5.5em;
    left: 0;
}

.day-view-header .col-md-11, .week-view-header .col-md-11 {
        border-top: 1px solid $medium;
        border-bottom: 1px solid $medium;
        height: 100%;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
}

.day-view-header .col-md-11 #gen-shop-list, .week-view-header #gen-shop-list {
        color: $medium;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 2em;
}

/*Planner design changes 7/12/16*/
.week-view-header .circle {
    border-radius: 50%;
    display: inline-block;
    position: relative;
    height: 1.5em;
    width: 1.5em;
    top: 50%;
    transform: translateY(-50%);
}
 
 .week-view-header .breakfast-circle{
    background-color: #f5b266;
}
.week-view-header .lunch-circle{
    background-color: #819800;
}
.week-view-header .dinner-circle{
    background-color: #796c2d;
}
.week-view-header .snack-circle{
    background-color: #bc9c63;
}

.week-view-header .circle-text {
    margin: 0;
    display: inline-block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 4px;
}
 .week-view-header .circle-text-breakfast {
    color: #f5b266;
}
 .week-view-header .circle-text-lunch {
    color: #819800;
}
 .week-view-header .circle-text-dinner {
    color: #796c2d;
}
 .week-view-header .circle-text-snack {
    color: #bc9c63;
}

.desktop-planner-details {
    width: 75%;
    position: relative;
    left: 25%;
    padding: 0;
    padding-bottom: 20px;
    margin: 0;
    background-color: white;
    
    .details-box {
        position: relative;
        left: 5em;
        width: 30em;

        p:first-child {
            width: 12em;
        }
        p:nth-child(2) {
            width: 9em;
        }
        p {
            margin: 0;
            font-size: .75em;
            width: 15em;
            display: inline-block;
            color: $medium;

        }
    }
}

//begin week view planner desktop

.desktop-calendar-container {

    .desktop-meal {

        #desktop-week-servings {
            width: 1.7em;
            font-size: 1.3em;
            padding: 0;
            margin: 0;
            font-weight: 100;
        }

        .delete-event, .change-servings-box-close {
            position: absolute;
            right: 0;
            top: 0;
            color: $medium;
            cursor: pointer;
            height: 29px;
            width: 29px;
            background-color: rgba(255, 255, 255, .75);
            img {
                height: 25px;
            }
        }

        .delete-event {
            background-image: asset-url('close-x.png');
            background-size: 90% 90%;
            background-repeat: no-repeat;
            background-position: 2px 2px;
        }

        .change-servings-box {
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: rgba(255, 255, 255, .9);

            #minus-serving, #add-serving, #num-servings {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                font-size: 1.5em;
                cursor: pointer;
            }

            #num-servings {
                color: $medium;
                position: absolute;
                width: 100%;
                text-align: center;
                z-index: 20;

            }


            #minus-serving {
                left: 12px;
                width: 20px;
                color: $green;
                z-index: 200;
            }
            #add-serving {
                float: right;
                position: relative;
                margin-right: 12px;
                width: 20px;
                color: $green;
                z-index: 200;
            }
        }
    }

}

//begin day view planner desktop

#day-calendar-meal-desktop {
    width: 75%;
    float: right;
    padding-left: 42px;
    padding-right: 42px;
    margin-bottom: 20px;

    .col-md-2 {
        width: 11%;
    }

    .desktop-meal-header {
        font-size: 1.25em;
        font-weight: 100;
        letter-spacing: 1px;
        margin: 0;
    }

    .desktop-meal {
        margin-right: 14px;

        .delete-event, .change-servings-box-close {
            position: absolute;
            right: 8px;
            top: 0;
            color: $medium;
            cursor: pointer;
            height: 29px;
            width: 29px;
            img {
                height: 25px;
            }
        }

        .delete-event {
            background-image: asset-url('close-x.png');
            background-size: 80% 80%;
            background-position: 4px 3px;
            background-repeat: no-repeat;
            top: 0;
            right: 0;
            background-color: rgba(255, 255, 255, .9);
        }

        .change-servings-box {
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: rgba(255, 255, 255, .9);

            #minus-serving, #add-serving, #num-servings {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                font-size: 1.5em;
                cursor: pointer;
            }

            #num-servings {
                color: $medium;
                position: absolute;
                width: 100%;
                text-align: center;
                z-index: 20;

            }


            #minus-serving {
                left: 15px;
                color: $green;
                z-index: 200;
            }
            #add-serving {
                right: 15px;
                color: $green;
                z-index: 200;
            }
        }
    }
}

.meal-heeder {
    position: relative;

    h2 {
        position: relative;
    }
}

/* begin tweaking of mobile weekly view to adjust for desktop */

.desktop-calendar-container {
    //something good
    width: 75%;
    left: 25%;

    #one-day-desktop {
        float: left;
        left: 4.5%;
        width: 10em;

        .meal {
            height: 7em;
        }
    }
}


/* planner mobile page */



.planner-mobile-header {
    height: 4em;
    background-color: $dark;

    .spatula-mobile {
        width: 3.5em;
        height: 100%;
        z-index: 300;

        img {
            height: 35px;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            padding-left: 6px;
        }
    }


    .arrow {
        color: white;
        position: absolute;
    }

    .prev-arrow-link {
        left: 24%;
        top: 25%;
        position: absolute;
        width: 2em;
        height: 2em;
        z-index: 20;
    
        .arrow-left {
            height: 100%;
            width: 100%;
            background-image: asset-url('left-arrow.png');
            background-size: 2em 2em;
            background-repeat: no-repeat;
        }
    }

    .next-arrow-link {
        left: 67%;
        top: 25%;
        position: absolute;
        width: 2em;
        height: 2em;
        z-index: 20;

        .arrow-right {
            height: 100%;
            width: 100%;
            background-image: asset-url('right-arrow.png');
            background-size: 2em 2em;
            background-repeat: no-repeat;
        }
    }

    .shopping-cart {
        color: white;
        position: absolute;
        right: 10px;
        top: 50%;
        width: 3em;
        height: 3em;
        background-size: 3em 3em;
        background-image: asset-url('shopping-cart-white.png');
        transform: translateY(-50%);
    }

    h2 {
        position: absolute;
        width: 10em;
        height: 100%;
        top: 0%;
        padding-top: 15px;
        margin: 0;
        left: 50%;
        transform: translateX(-50%);
        color: $green;
        letter-spacing: 3px;
        font-size: 1.75em;
        font-weight: 100;
    }

    .week-subtitle {
        position: absolute;
        top: 3.6em;
        letter-spacing: .75px;
        width: 100%;
        font-size: .8em;
        color: white;
        text-align: center;
    }
}

.planner-view-control {
    height: 3em;

    #selected {
        background-color: $green;
        color: white;

        a { color: white; }
    }

    .col-sm-6 {
        width: 50%;
        float: left;
        height: 100%;

        button {
            width: 100%;
            height: 100%;
            text-align: center;
            color: $green;
            background-color: white;
            font-size: 1.5em;
            letter-spacing: 1.5px;
            font-weight: 100;
            border: none;
            padding: 0;
            }

        a {
            color: $green;
        }
    }
}

.planner-instructions {
    height:3em;
    background-color: $dark;
    display: block;

    .col-sm-12 {
        height: 100%;
        overflow: hidden;
        .breakfast, .lunch, .dinner, .snack {
            width: 23%;
            height: 100%;
            position: relative;
            float: left;
            text-align: center;

            .circle {
                height: 8px;
                width: 8px;
                border-radius: 100%;
                position: absolute;
                top: 5px;
            }

            .tan {background-color: #f5b266;}
            .green {background-color: #819800;}
            .olive {background-color: #796c2d;}
            .brown {background-color: #bc9c63;}

            h5 {
                color: white;
                padding: 0;
                margin: 0;
                font-weight: 100;
                letter-spacing: 1px;
                /* for some reason the letter spacing wasn't accounted for in text_align: center: */
                left: 5px;
                position: relative;
                top: 50%;
                transform: translateY(-50%);
            }
        }

        /*needed to move only breakfast over to make colored circles look correct */

        #hide-chevron {
            right: -30px;
            color: $green;
            z-index: 10;
            position: absolute;
            height: 100%;
            font-size: 5em;
            right: -38px;
            top: -13px;
        }

        .details-left, .details-right {
            position: absolute;
            font-size: 9px;
            bottom: 0px;
            height: 14px;
            color: $light;
        }

        .details-left {
            left: 4em;
        }

        .details-right {
            right: 4em;
        }
    }
}

.slider-container {
    height: 3em;
    background-color: white;
    position: relative;

    .col-md-12 {
        height: 100%;

        #unhide-chevron {
        position: absolute;
        color: #819800;
        font-size: 4em;
        left: -32px;
        top: 20px;
        display: none;

    }

        .glyphicon {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            color: $green;
        }

        .glyphicon-minus {
            left: 30px;
        }

        .glyphicon-plus {
            right:30px;
        }

        .ui-slider-horizontal {height: 5px;}
        .ui-state-default {background: white;}

        #zoomSlider {
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            width: 75%;
            margin:auto;

            .ui-slider-range { background: $green;}
            .ui-slider-handle { 
                    border-color: $green; 
                    border-radius: 100%;
                    top: -.5em;
                    }
        }
    }
}

#offset-margins {
    margin-bottom: -100px;
}

.weekly-planner {
    background-color: white;
    position: relative;
    overflow-x: auto;
    white-space: nowrap;

    .one-day {
        float: none;
        display: inline-block;
        width: 8.5em;

        .one-day-header {
            float: left;
            color: $medium;
            font-size: 1.1em;
            bottom: 7px;
            margin-top: 10px;
            margin-bottom: 10px;
        }

        .meals {
            position: relative;
            width: 100%;

            .add-meal-short {
                width: 100%;
                height: 2em;
                margin-bottom: 10px;
                position: relative;
                float: left;

                h3 {
                    font-size: .75em;
                    position: absolute;
                    float: left;
                    margin: 0;
                    width: 100%;
                    text-align: center;
                    text-decoration: none;
                    color: #ababab;
                    bottom: .5em;
                    border-bottom: 1px dashed $medium;
                    height: 65%;
                }

            }

            .add-meal-big {
                border: .75px dashed $medium;;
            }

            #hidden {
                display: none;
            }

            #mobile-event, #desktop-event {
                height: 100%;   
                /* only used when as a fallback if a user has unfollowed a recipe but an event for that recipe still remains */
                background-image: asset-url("background-picture-foodstella.jpg");

            }


            .meal, .mobile-event, .desktop-event {
                width: 100%;
                height: 6em;
                margin-bottom: 10px;
                position: relative;
                float: left;
                background-size: cover !important;
                background-repeat: no-repeat !important;
                background-position: 0 0 !important;
                cursor: pointer;

                .servings {
                    position: absolute;
                    left: 0;
                    top: 0;
                    padding-left: 3px;
                    padding-right: 3px;
                    height: 1.5em;
                    color: $green;
                    background-color: rgba(255, 255, 255, 0.95);
                    text-align: center;

                }

                .event-title {
                    width: 100%;
                    height: 1.5em;
                    color: white;
                    font-size: .75em;
                    letter-spacing: .5px;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    padding-left: 6px;
                    padding-right: 6px;
                    opacity: .9;
                    text-align: center;
                }

                .recommended-banner {
                    width: 100%;
                    height: 1.5em;
                    color: white;
                    font-size: .75em;
                    letter-spacing: .5px;
                    position: absolute;
                    bottom: 1.5em;
                    left: 0;
                    padding-left: 6px;
                    padding-right: 6px;
                    opacity: .9;
                    text-align: center;
                    background-color: $green;
                    -webkit-transition: opacity 0.3s linear;
                    -moz-transition: opacity 0.3s linear;
                    -o-transition: opacity 0.3s linear;
                    transition: opacity 0.3s linear;
                }

                .glyphicon {
                        color: $medium;
                        position: absolute;
                        text-align: center;
                        width: 100%;
                        left: 0;
                        top: 1.5em;
                }

                h3 {
                        font-size: .75em;
                        position: absolute;
                        float: left;
                        margin: 0;
                        width: 100%;
                        text-align: center;
                        text-decoration: none;
                        color: $medium;
                        bottom: 2.5em;
                }
            }

            .meal:hover, .mobile-event:hover, .desktop-event:hover {
                .recommended-banner { opacity: .9 !important; }
            }
        }
    }
}

.recipe-selection-mobile {
    position: absolute;
    background-color: rgba(255, 255, 255, .9);
    width: 100%;
    z-index: 40;
    display: none;

    .recipe-selection-header {
        width: 100%;
        height: 5em;

        .close-x {
            position: absolute;
            top: 10px;
            right: 10px;
            height: 2em;
            width: 2em;
            background-size: 2em 2em;
            background-image: asset-url('close-x.png');
        }

        h3 {
            text-align: center;
            font-size: 1em;
            color: $medium;
        }

        h2 {
            text-align: center;
            font-size: 2em;
            color: $green;
            margin-top: 0;
        }

        .alert {
            position: absolute;
             width: 92%;
            margin: auto;
            text-align: center;
            opacity: 0;
            top: 38px;
        }
    }
    .meal-selection {

        .recipe-title {
            position: absolute;
            width: 100%;
            bottom: 0;
            a {
                color: white;
                text-decoration: none;
            }
        }
        button {
            width: 100%;
            float: left;
            color: $medium;
            font-size: 1.25em;
            margin-top: 1em;

            span {
                float: right;
            }
        }

        #selected {
            display: block;
            width: 100%;
            height: 100%;
            background-image: asset-url('fav-star-active.png');
            background-size: 50% 50%;
            background-repeat: no-repeat;
            background-position-x: 50%;
            background-position-y: 30%;
            background-color: rgba(77, 77, 77, .8);
        }
    }
}

.day-selector-mobile {
    position: absolute;
    top: 0;
    background-color: rgba(255, 255, 255, 0.9);
    width: 100%;
    z-index: 40;
    display: none;
    height: 80em;

    .close-x {
        position: absolute;
        top: 10px;
        right: 10px;
        height: 2em;
        width: 2em;
        background-size: 2em 2em;
        background-image: asset-url('close-x.png');
    }

    .col-md-12 {
        padding: 0;
    }

    .mobile-days-list {
        width: 100%;
        position: relative;
        list-style-type: none;
        padding: 0;
        top: 4em;

        li {
            width: 100%;
            text-align: center;
            height: 4em;
            border-bottom: 1px solid $green;
            color: $green;

            h2 {
                margin: 0;
                padding: 0;
                position: relative;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
}

.event-actions-mobile {
    position: absolute;
    //top: 0;
    background-color: rgba(255, 255, 255, .9);
    width: 100%;
    z-index: 40;
    display: none;
    border: 1px solid $dark;
    height: 38em;

    #hide-event-actions {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 2em;
        color: $medium;
    }

    .view-container {
        border: 1px solid $green;
        border-bottom: none;
        position: relative;
        width: 80%;
        height: 29em;
        margin: auto;
        top: 5em;

        .image-container {
            display: block;
            width: 100%;
            height: 17em;

            #servings {
                width: 3em;
                height: 3em;
                background-color: rgba(255, 255, 255, 0.9);
                position: absolute;
                text-align: center;

                h3 {
                    margin: 0;
                    position: relative;
                    top: 50%;
                    transform: translateY(-50%);
                    color: $green;
                    font-weight: 100;
                }
            }
        }

        .recipe-title-container {
            position: relative;
            height: 2.5em;
            top: -2.5em;
            background-color: $green;

            #recipe-title {
                margin: 0;
                color: white;
                position: relative;
                top: 50%;
                transform: translateY(-50%);
                letter-spacing: 1px;
                font-weight: 100;
            }
            
        }


        .event-actions {
            height: 12em;
            position: relative;
            top: -2.5em;
            padding: 0;
            list-style-type: none;
            margin: 0;

            .action {
                height: 4em;
                border-bottom: 1px solid $medium;
                background-color: white;

                h2 {
                    margin: 0;
                    color: $medium;
                    position: relative;
                    top: 50%;
                    transform: translateY(-50%);
                }

                #recipe-title-link {
                    text-decoration: none;
                    height: 4em;
                    width: 100%;
                    position: absolute;

                    h2 {
                        color: $medium;
                    }
                }
            }

            .servings {
                h2 {
                    display: block;
                    color: #ababab;
                    position: relative;
                    margin: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    left: 20%;
                    width: 30%;
                }

                #minus-serving {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    color: $medium;
                    left: 60%;
                }

                #add-serving {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    left: 86%;
                    color: $medium;
                }

                #num-servings {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    left: 70%;
                    padding: 3px;
                    padding-left: 7px;
                    padding-right: 7px;
                    border: 1px solid $dark;
                }
            }
        }
    }
}


/* day calendar mobile view */

.day-calendar-header {
    padding: 0;
    height: 3em;
    background-color: white;

    h1 {
        color: $medium;
        font-size: 1.5em;
        margin: 0;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        letter-spacing: 1.5px;
        font-weight: 100;
    }
}

.day-calendar-meal {
    background-color: white;
    position: relative;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    height: 10em;

    .meal-types {
        height: 100%;
        .added-meals {
            height: 100%;
            .meal {
                height: 100%;
                width: 11em;
                float: none;
                display: inline-block;
                padding: 0;
                /*margin: -.2em;*/
                overflow: hidden;
                /*margin-right: 1px;*/
                .mobile-event {
                    height: 100%;
                    width: 11em;
                    position: absolute;
                    /* only used when as a fallback if a user has unfollowed a recipe but an event for that recipe still remains */
                    background-image: asset-url("background-picture-foodstella.jpg");
                    background-size: cover !important;
                    background-repeat: no-repeat !important;
                    background-position: 0 0 !important;

                    .servings {
                        width: 2em;
                        height: 2em;
                        position: absolute;
                        top: 0;
                        left: 0;
                        text-align: center;
                        background-color: rgba(255, 255, 255, .9);
                        color: $green;
                        padding-top: 5px;
                        padding-left: 2px;
                        font-size: 1.5em;
                        font-weight: 100;
                    }

                    .event-title {
                        position: absolute;
                        bottom: 0;
                        width: 100%;
                        text-align: center;
                        color: white;
                    }
                }
            }

            .add-meal-big {

                a {
                    width: 11em;
                    height: 100%;
                    position: absolute;
                    padding: 0;

                    .add-meal-box {
                        text-align: center;
                        position: relative;
                        top: 50%;
                        transform: translateY(-50%);
                        height: 80%;
                        width: 80%;
                        margin: auto;
                        border: 1px dashed $medium;
                        span {
                            font-size: 1.5em;
                            color: #ababab;
                            margin: auto;
                            top: 1.3em;

                        }
                        h3 {
                            font-size: 1.25em;
                            font-weight: 200;
                            color: $medium;
                            margin: 0;
                            position: relative;
                            top: 50%;
                            transform: translateY(-50%);
                        }
                    }
                }
            }
        }
    }
}








