.homepage{
// ============== welcome page ==============
	background:transparent;
	.section {
	  width: 100%;
	  min-height: 14vh;
	  background:transparent;
	  padding-top: 5vh;
	  padding-bottom: 5vh;
	  transition: 0.5s;

    &.sign-in,
    &.food-names {
      min-height: 50vh;
      position: relative;
      z-index: 3;
    }
	}

	.title{
		background-color:black; // might want to change to $dark
		min-height: 40vh;
		#logo{
			max-height: 35vh;
			max-width: 90vw;
			vertical-align:middle;
			display: block;
			margin-right: auto;
			margin-left: auto;
		}
	}

  .bg-img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    opacity: 0.4;
    position: absolute;
    width:100%;
    height: 100%;
    left: 0px;
    top: 0px;
    z-index: -1;
  }
  .food-names .bg-img {
    opacity: 0.175;
  }

	.tagline{
		background-color:$green;
		font-size: 1.8em;
		text-align:center;
		color:white;
    // font-family: 'Great Vibes', 'Cookie', Lucida, Helvetica, sans-serif;
		font-family: cursive;
		padding-top: 4.5vh;
		padding-bottom: 2vh;
	}

	.sign-in{
		text-align: center !important;
		height: 70vh;
		background-color: white;
		.links{
			color: #819800;
			padding-top: 20vh;	
			display: block;
			margin-right: auto;
			margin-left: auto;
			max-width: 60vw;
			a {
				display: inline-block;
			}
		}
		.info{
			bottom: 0;
			padding-top: 10vh;
			padding-bottom: 20vh;
			max-width: 80vw;
			display: block;
			margin-right: auto;
			margin-left: auto;
			max-height: 30vh;
			text-align:center;
		}
	}

	.drag-yes-no{
		background-color: black;
		min-height: 60vh;
		padding-top: 20vh;
		padding-bottom: 20vh;

		.rater{
			text-align: center;
			display:block;
			margin-right: auto;
		  	margin-left: auto;
		  	width: 90vw;
		  	padding-top: 10vh;

		  	.no-box{
  				border: 1px solid red;
  				background-color: rgba(255,0,0,0.1);
  				transition: 0.3s;

  				&:hover {
  					transition: 0.3s;
            color: rgba(255,0,0,1.5);
  					background-color: rgba(255,0,0,0.4);
  				}
  				&.highlight {
  					transition: 0.3s;
            color: rgba(255,0,0,1.5);
  					background-color: rgba(255,0,0,0.4);
  				}
  			}

  			.yes-box{
  				border: 1px solid $green;	
  				background-color: rgba(0,255,0,0.1);
  				transition: 0.3s;

  				&:hover {
  					transition: 0.3s;
            color: rgba(0,255,0,1.5);
  					background-color: rgba(0,255,0,0.4);
  				}

  				&.highlight {
  					transition: 0.3s;
            color: rgba(0,255,0,1.5);
  					background-color: rgba(0,255,0,0.4);
  				}
  			}


			.yes-box_stem {
			    position: absolute;
			    width:10px;
			    height:20px;
			    background-color:red;
			    left:50px;
			    top:6px;
			}

			.yes-box_kick {
			    position: absolute;
			    width:10px;
			    height:20px;
			    background-color:red;
			    left:50px;
			    top:12px;
			}

  			.start-box{
  				border: 1px solid white;
  			}

        .start-box p#swiped-recipe {
          display: none;
          // hide the red X that all recipes have
        }

		  	.selector-box{
		  		width: 20vw;
		  		height: 20vw;
		  		border-radius: 10vw;
		  		padding-top: 0.5vw;
	  			display: inline-block;
          position: relative;
          color: #ccc;

          h1 {
            line-height: 20vw;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            margin: 0;
            font-size: 4em;
          }

        .sortable.ui-sortable-placeholder {
          display: none;
        }

				.sortable {
				  background-color:white;
				  width: 19vw;
				  height: 19vw;
				  border: 1px solid white;
				  transition: 0.3s;
				  border-radius: 9.5vw;
				  overflow: hidden;
				  margin-right: auto;
				  margin-left: auto;
				  display: block; // align horizontal
				  margin-right: auto;
				  margin-left: auto;

				  .inner {
				    height: 100%;
				    background-color: rgba(255, 255, 255, 0);
				    width: 100%;
				  }
				  p {
				    font-size: 1.2em;
				    color: rgba(255, 255, 255, 0);
				    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
				  }
				  // &:hover {
				  //   transition: 0.3s;
				  //   .inner {
				  //     // overflow: hidden;
				  //     background-color: white;
				  //     transition: 0.3s;
				  //     p {
				  //       color: rgba(0, 0, 0, 1);
				  //       transition: 0.3s;
				  //       padding-top: 4%;
				  //     }
				  //   }
				  // }
				}
		  	}
		}
		.info{
			text-align: center;
			display:block;
			margin-right: auto;
		  	margin-left: auto;

			color: white;
			width: 50vw;
			padding-top: 10vh;
		}
		.info emp {
			color: #819800;
			font-weight: bold;

		}
	}


	.food-names{

		background-color: white;

		.sortable-day{
			display: inline-block;
			width: 20vw;
			height: 60vh;
			overflow: hidden;
			border:none;

			&.one{
					background-color:lightgrey;
			}
			&.two{
				background-color:grey;
			}
			&.three{
				background-color:$green;
			}

			.sortable{
				width: 20vw;
				height: 20vh;
				border: 1px solid black;
			}

		}
		.addition{
        width: 20vw;
        display: inline-block;
        transition: 0.5s;
        margin: 0 1em 10px;
			
	  		&:hover{
	  			color: orange;
	  			transition: 0.5s;
	  		}
		}

	}

	// ============ text types =============
	.help-text{
    font-family: cursive;
	}

	.title-text{

	}

	.explain-text{


	}

	.green{
		color: $green;
	}

	.boxes{
		.box{
			.input{
				border:none;
				border-bottom: 1px solid black;
			}
		}
	}

	// ============ button types =============
	.button-link{
		border-radius: 25px;	
		display:inline-block;
		padding-left: 1%;
		padding-right: 1%;
		padding-top: 4px;
		padding-bottom: 4px;
		width: 30%;
		height: 10%;
		min-width: 200px;
		min-height: 30px;
		border: 1px solid white;

		margin-top: 0.2em;
		margin-bottom: 0.2em;
		margin-left: 0.2em;
		margin-right: 0.2em;
		color: white;

		text-decoration: none !important;
		text-align: center;

		&.green{
			background-color: $green;
			&:hover{
				color: $green;
				background-color: white;
				transition: 0.5s;
				border: 1px solid $green;
			}
		}
		&.black{
			background-color: black;
			&:hover{
				color: black;
				background-color: white;
				transition: 0.5s;
				border: 1px solid black;
			}
		}
	}



	// ========== Utility =========

	hr.simple {
	  border: 0;
	  height: 1px;
	  background: #333;
	  background-image: linear-gradient(to right, #ccc, #333, #ccc);
	}

	.center-horizontal {
	  display: block;
	  margin-right: auto;
	  margin-left: auto;
	}

	.center-horizontal-children {
	  text-align: center;
	}

	.center-vertical{
	  position: relative;
	  top: 50%;
	  transform: translateY(-50%);
	}

	// ========== draggable =========

	.sortable-day {
	  background-color: rgba(255, 255, 255, 0.7);
	  border: 5px solid green;
	  overflow: auto;
	  width: 15vw;
	  height: 60vh;
	  text-align: center;
	  vertical-align: middle;
	  display: inline-block;
	  background-repeat: no-repeat;
    margin: 0 1em 10px;
	}

	.remove {
	  color: rgba(255, 0, 0, 1);
	  font-size: 1em;
	  display: inline-block;
    width: 100%;
    text-align: right;
    padding-right: 0.5em;
    cursor: pointer;
	}

	.add {
	  background-color: lightblue;
	  color: black;
	  transition: 0.5s;
	  width: 100%;
	  height: 10%;
	  min-height: 30px;
	  font-size: 1.5em;
	  border-radius: 10px;
	  border: 1px solid grey;
	  &:hover {
	    background-color: blue;
	    color: white;
	    transition: 0.5s;
	  }
	}
}



.expando {
	transition: 0.5s;
	// color: darkgrey;
  color: white;
  float: right;
  width: 2em;
  height: 2em;
  line-height: 2em;
  font-size: 12px;
  margin-top: -0.5em;
  border-radius: 50%;
  background: $dark;
  text-align: center;
  font-weight: 100;
  position: relative;

  cursor: pointer;

  &.open {
    background: $green;
  }

  &:not(.open):after {
    content: '';
    position: absolute;
    top: 0.75em;
    left: 0.75em;
    width: 0.5em;
    height: 0.5em;
    border: solid 1px white;
    border-width: 0 0 1px 1px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }

	&:hover{
		color: orange;
    &:after {
      border-color: orange;
    }
	}
}

.section.shoppinglist {
  background: white;
}

.shopping-list-container{
  background: white;
  width: 100%;

	.shopping-item {
		color: black;
		margin-top: 1vh;
		margin-bottom: 2vh;
		text-align: left;
		margin-left: 5vw;

    font-weight: 500;
    text-transform: uppercase;
    border-bottom: solid 1px $medium;
    padding-bottom: 14px;
    max-width: 500px;

    &:first-of-type {
      color: $green;
      font-weight: bolder;
    }

    .list-box {
      width: 100%;
      ol li {
        padding: 12px 0 0;
        font-size: 14px;
        text-transform: capitalize;
        &:first-of-type {
          padding-top: 18px;
        }
      }
    }
	}	

}

.shoppinglist .button-link {
  // position: absolute;
  // top: 0;
  // right: 0;
}

.navbar-default{
	background-color: black;
}

.my-foods-text{
	color: black !important;
	font-size: 2.5em !important;
	.my-foods-text-oo{
		color: $green;
	}
}
