@import "bootstrap-sprockets";
@import "bootstrap";

$banner_h: 100px;
$light: #F9F7ED;
$dark: #ABABAB;
$brown: #BC9C63;
$orange: #F5B226;
$green: #819800;

/* overflow footer color */
html.hasFooter { background-color: $brown; }
body.hasFooter {
  padding-bottom: 54px;
  margin-bottom: 100px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: .25px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: 0px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

.col-center {
  float: none;
  margin: 0 auto;
}

#navbar-logo {
  height: 50px;
  margin: 10px;
}

#navbar-search { margin: 36px 10px 0; }