@import "bootstrap-sprockets";
@import "bootstrap";

$banner_h: 100px;
$pale: #eaeaea;
$light: #F9F7ED;
$medium: #ABABAB;
$dark: #4D4D4D; 
$brown: #BC9C63;
$orange: #F5B226;
$green: #819800;
$trim1: #e8e8e8;
$trim2: #ddd;

/* overflow footer color */
// html.hasFooter { background-color: $dark; }
// body.hasFooter {
//   padding-bottom: 100px;
//   margin-bottom: 100px;
// }
html { background-color: $dark; }
body { background-color: $light; }

.row { margin: 0; }

.full-height {
  height: 100vh;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: .25px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: 0px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

.col-center {
  float: none;
  margin: 0 auto;
}


/* navbar */
#myNavBar {
  .navbar-right {
    // margin-top: 20px !important;
  }
}
.navbar {
  background-color: white;
  border: none;
  margin-bottom: 0;
  padding-bottom: 10px;
  .navbar-collapse {
    border: none;
  }
}
.navbar-toggle { border: none; border-radius: 0; }
.navbar-toggle .icon-bar {
  background-color: $green !important;
  height: 4px;
  width: 28px;
}
.navbar-toggle .icon-bar + .icon-bar { margin-top: 2px; }

#navbar-logo {
  height: 4em;
  padding: 3px;
}

#navbar-search input[type=text] {
  border: solid 1px $green;
  border-radius: 1px;
  outline: none !important;
  width: 220px;
}
.navbar-header { text-align: center; }
.navbar-toggle {
  position: absolute;
  left: 0;
}
.navbar-nav > li > a {
  padding: 10px;
  font-size: 12px;

}
@media (min-width: 768px) {
  .navbar-header { text-align: left; }
  .navbar-toggle { position: relative; }
  .navbar-nav > li > a {
      padding-top: 25px;
      padding-bottom: 5px;
  }
}
@media (min-width: 992px) {
  #navbar-search {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    // top: 16px;
  }
}
// #navbar-search { margin: 36px 10px 0; }

.logo {
  height: 54px;
  margin: 5px 5px 12px;
}

/* footer */
.footer {
  margin-top: 100px;
  padding-top: 30px;
  background-color: $dark;
  color: white;
  text-align: center;
  a {
    color: white;
    text-decoration: none;
  }
  a:hover {
    color: $green;
  }
  .row {
    height: 60px;
    span {
      margin: 0 5px;
      line-height: 60px;
    }
  }
}
@media (min-width: 768px) {
  .footer .row span { margin: 0 14px; }
}
