// Place all the styles related to the profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.profile-view {
	text-align: center;

.img-banner-bg {
	background-color: $green;
	height: 160px;
	padding: 0;
	.img-banner {
		height: 160px;
		background: asset-url('background-picture-foodstella.jpg');
		background-size: 100% auto;
		background-position: center center;
		background-repeat: no-repeat;
	}
}
.user-banner {
	// height: $banner_h;
	// background-color: white;
	color: $medium;
	text-align: center;
	padding: 0 15px;
	.user {
		.actions {
			.edit-profile,
			.edit-bg {
				position: absolute;
				top: 0;
				a {
					color: $medium;
					white-space: nowrap;
				}
			}
			.edit-profile { right: calc(50% + 80px); }
			.edit-bg { left: calc(50% + 80px); }
			.user_pic {
				width: 140px;
				height: 140px;
				background-color: $dark;
				background-size: auto 100%;
				background-position: center center;
				margin: -70px auto 0;
				border-radius: 99px;
				border: solid 2px white;
			}	
		}
		.user_name {
			h4 {
				margin: 12px 0 24px;
				color: $dark;
				font-weight: 200;
			}
		}
	}
	> .container > .row {
		position: relative;
		.tabs_right {
			text-align: right;
			position: absolute;
			bottom: 0;
			right: 0;
			.button {
				// margin-left: 20px;
				margin: 0 0 20px 24px;
				text-align: center;
				span {
					font-size: 3em;
					// margin-bottom: 24px;
					font-weight: 100;
					color: $green;
				}
			}
		}
	}
}
.navigation-banner {
	background-color: $dark;
	color: white;
	.button {
		// display: none;
		color: white;
		// width: auto;
		margin: 10px 20px;
		padding: 2px;
	}
	.button.selected { color: $green; }
	.button:hover { color: $green; }
}

.content.container {
  // text-align: center;
  color: $medium;
  background-color: white;

	.row {
		margin-top: 50px;
		> div {
			margin: 20px auto;
			float: none;
		}
		> .left { text-align: left; }
		> .bubbles {
			border-bottom: solid 1px $pale;
			text-align: left;
			> div {
				background-color: $pale;
				text-align: center;
				border-radius: 99px;
				min-width: 80px;
				padding: 2px 16px;
				display: inline-block;
				margin: 4px 6px;
			}
		}
	}
 	
 	h4 {
  		font-weight: 200;
  		color: $green;
  		position: relative;
  		.edit {
  			font-size: 12px;
  			color: #e0e0e0;
  			font-weight: normal;
  			margin-left: 20px;
  			position: absolute;
  			bottom: 2px;
  		}
	}
}

.icon {
	width: calc(50% - 40px);
	// width: 80px;
	margin: 10px 20px;
	float: left;
}
@media (min-width: 440px) {
	.icon { width: 80px; }
}

.wrapper-header {
	// background-color: $light;
	position: relative;
	.search-box {
		display: none;
		// text-align: left;
		// float: right;
		font-size: 12px;
		position: absolute;
		bottom: 10px;
		right: 0;
	}
}

/* Reveal buttons on medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
	.button { display: inline-block; }
	.wrapper-header .search-box { display: inline-block; }
}

}