.user_pic {
	width: $banner_h;
	height: $banner_h;
	background-color: $dark;
	background-size: auto 100%;
	background-position: center center;
}

.dashboard-view {
	.container {
	  // text-align: center;
	  color: $medium;
	}

	.banner:first-child {
		height: 160px;
		// background-color: $medium;
		background: asset-url('background-picture-foodstella.jpg');
		background-size: 100% auto;
		background-position: center center;
		padding: 0;
	}
	.banner {
		height: $banner_h;
		background-color: white;
		color: $medium;
		text-align: center;
		padding: 0 15px;
	}

	.user_pic {
		width: $banner_h;
		height: $banner_h;
		background-color: $dark;
		background-size: auto 100%;
		background-position: center center;
	}
	.banner > .user > .user_pic {
		margin: -$banner_h/2 auto 0;
		border-radius: 99px;
		border: solid 2px white;
	}

	.wrapper-header {
		// background-color: $light;
		position: relative;
		.search-box {
			display: none;
			// text-align: left;
			// float: right;
			font-size: 12px;
			position: absolute;
			bottom: 10px;
			right: 0;
		}
	}

	.button {
		cursor: pointer;
		display: none;
		color: $brown;
		width: auto;
		margin: 40px 10px 0;
		padding: 2px;
	}
	.button.selected { border-bottom: solid 1px $orange; }
	.button:hover { color: $orange; }
	/* Reveal buttons on medium devices (desktops, 992px and up) */
	@media (min-width: 992px) {
		.button { display: inline-block; }
		.wrapper-header .search-box { display: inline-block; }
	}
	.tabs_left > .button { float: left; }
	.tabs_right > .button { float: right; }
	.tabs_right > .button > span {
		font-size: 1.5em;
		color: $medium;
	}

	.tile {
		margin: 8px auto;
		// background-color: #CEA;
		max-width: 250px;
		background: asset-url('background-picture-foodstella.jpg');
		background-size: auto 100%;
		background-position: center center;
	}
		.tile > .overlay {
			// cursor: pointer;
			width: 100%;
			height: 30px;
			margin-top: calc(100% - 30px);
			display: inline-block;
			padding: 0.25em;
			background-color: rgba(0,0,0,0.3);
			font-size: 1em;
			color: rgba(255,255,255,0.5);
			// text-align: center;
		}
		.tile:hover > .overlay {
			// color: rgba(255,255,255,1);
			background-color: rgba(0,0,0,0.5);
		}
			.tile > .overlay a {
				color: rgba(255,255,255,1);
				text-decoration: none;
			}
			.tile > .overlay a:hover { text-decoration: underline; }
			.tile > .overlay > .title {
				width: calc(100% - 60px);
				margin-left: 30px;
				overflow: hidden;
				white-space: nowrap;
				float: left;
			}
			.tile > .overlay > .star {
				width: 30px;
				font-size: 1.3em;
				color: rgba(255,255,255,0.5);
				cursor: pointer;
				// float: left;
			}
			.tile > .overlay > .star:hover {
				color: rgba(255,255,255,1);
			}

	.row > h3 {
		text-align: center;
		font-weight: 200;
	}

	.wrapper {
		 background-color: white;
		 text-align: center;
		 padding: 15px;
		// display: inline-block;
	}
	.tile_wrapped {
		width: 200px;
		height: 200px;
		display: inline-block;
		padding: 2px 0;
		// float: left;
	}
}




#new_user {
	display: block;
	padding: 20px;
	text-align: center;
}
#new_user input:focus { outline: none; }
#new_user {
	::-webkit-input-placeholder { color: white; }
	:-moz-placeholder { color: white; }
	::-moz-placeholder { color: white; }
	:-ms-input-placeholder { color: white; }
}
#new_user input { border-radius: 0; }
#new_user input[type=email],
#new_user input[type=password],
#new_user input[type=text] {
	background-color: transparent;
	border: none;
	text-align: center;
	border-bottom: solid 1px white;
	width: 100%;
}
#new_user .split { width: 45%; float: right;}
#new_user .split.first { float: left; }

input:-webkit-autofill {
    // -webkit-box-shadow: 0 0 0px 1000px $green inset;
    // color: white;	// doesnt work
}

#new_user input[type=submit] {
	border: none;
	background-color: white;
	font-weight: bold;
	color: $green;
	width: 100px;
	float: right;
}
#new_user input[type=submit].reset_password {
	width: auto;
	float: none;
}

#new_user input[type=checkbox] {
	//display: none;
	// for custom checkbox span
}


// html { height: calc(100% - 0px); }
// body, body > div { height: 100%; }
// .full-height { height: 100%; }

.backsplash-col {
	// display: none;
	// background: image-url("backgrouund-picture-foodstella.jpg");
	//background: asset-url('backgrouund-picture-foodstella.jpg');
	background-image: asset-url('background-picture-foodstella.jpg');
	background-size: auto 100%;
	background-repeat: no-repeat;
	background-position: center center;
	height: 100%;
	width: 100%;
	padding: 0;
	float: none;
}

// approaximate ratio accounting for signin-col offset
@media (min-aspect-ratio: 100/51) {
	.backsplash-col {
		background-size: 100% auto;
	}
}

// img res: 2912:1935 for when signin-col is hidden
@media (min-aspect-ratio: 2912/1935) and (max-width: 992px) {
	.backsplash-col {
		background-size: 100% auto;
	}
}

	.backsplash-col > div {
		width: 100%;
		height: 100%;
		text-align: center;
		position: relative;
		background-color: rgba(255,255,255,0.85);
	}

		.backsplash-col > div > #imgs {
			position: absolute;
			top: 50%;
			left: 50%;
			-ms-transform: translate(-50%, -50%);
			-webkit-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);
			width: 100%;
			padding: 50px;
		}
		.backsplash-col #logo {
			width: 50%;
			max-width: 400px;
			min-width: 200px;
			margin-bottom: 8%;
		}
		.backsplash-col #banner {
			width: 100%;
			max-width: 800px;
			// margin-top: 50px;
		}

.signin-col {
	background-color: $green;
	height: 100%;
	position: relative;
	text-align: center;
	// width: 300px;
	width: 100%;
	float: none;
}

.signin-col h2 { color: white; }

.signin-col > div {
	// width: calc(100% - 30px);
	width: 100%;
	max-width: 300px;
	color: white;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.signin-col a { color: white; }
.remember, .forgot {
	display: inline-block;
	font-size: 12px;
	float: right;
	margin: 10px 0;
}
.remember { float: left; }
.clear { clear: both; }

.or {
	display: inline-block;
	width: 30px;
}
.or.wing {
	height: 4px;
	border-top: solid 1px white;
}
#facebook {
	border: solid 2px blue;
	width: 100px;
	display: inline-block;
}

/* Reveal backsplash on medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
	.backsplash-col {
		// display: inline-block;
		width: calc(100% - 300px);
		float: left;
	}
	.backsplash-col ~ .signin-col {
		width: 300px;
		float: left;
	}
}

/* index page styling and inbox */

.friendships {
	margin: 0;

	.col-md-8 {
		margin: auto;
		position: relative;
		float: none;

		ul {
			text-decoration: none;
			list-style-type: none;
			text-align: center;

			li {
				padding: 20px;
			}

		}
	}


}

/* shopping list */
.shopping-list {
	margin: 0;
	padding: 0;

	float: right;
	min-width: 600px;
    max-width: calc(100% - 250px);

    min-height: 100vh;
}
.shopping-list-container {
	width: 100%;
	background-color: white;
	// position: absolute;
	padding-bottom: 3em;

	.shopping-list-header {
		width: 90%;
		position: relative;
		margin: auto;
		height: 4em;
		border-bottom: 2px solid $green;

		h1 {
			color: $green;
			float: left;
			font-size: 1.7em;
			font-weight: 200;
			letter-spacing: 2px;
		}
	}

	.list-box {
		    position: relative;
    		// top: 2em;
    		min-height: 20em;
    		width: 90%;
    		margin: auto;

		ol {
			list-style-type: none;
			padding: 0;

			li {
				padding:15px;
				font-size:1.3em;
				float: left;
				width: 100%;
    			float: left;
    			height: 2.5em;

    			div {
    				margin-right: 10px;
    			}

    			label {
    				font-weight: 200;
    				// letter-spacing: 2px;
    				// word-spacing: 25px;
    			}
			}
		}
	}
}

/* planner mobile page */



.planner-mobile-header {
	height: 4em;
	background-color: $dark;

	.spatula-mobile {
		width: 3.5em;
		height: 100%;

		img {
			height: 35px;
			position: relative;
			top: 50%;
			transform: translateY(-50%);
			padding-left: 6px;
		}
	}


	.arrow {
		color: white;
		position: absolute;
	}

	.prev-arrow-link {
		left: 24%;
    	top: 25%;
    	position: absolute;
    	width: 2em;
    	height: 2em;
    	z-index: 20;
	
		.arrow-left {
			height: 100%;
    		width: 100%;
    		background-image: asset-url('left-arrow.png');
    		background-size: 2em 2em;
    		background-repeat: no-repeat;
    	}
	}

	.next-arrow-link {
		left: 67%;
    	top: 25%;
    	position: absolute;
    	width: 2em;
    	height: 2em;
    	z-index: 20;

		.arrow-right {
			height: 100%;
    		width: 100%;
    		background-image: asset-url('right-arrow.png');
    		background-size: 2em 2em;
    		background-repeat: no-repeat;
    	}
	}

	.shopping-cart {
		color: white;
		position: absolute;
		right: 10px;
    	top: 50%;
    	width: 3em;
    	height: 3em;
    	background-size: 3em 3em;
    	background-image: asset-url('shopping-cart-white.png');
    	transform: translateY(-50%);
	}

	h2 {
		position: absolute;
    	width: 100%;
    	height: 2em;
    	top: 25%;
    	margin: 0;
    	color: $green;
    	letter-spacing: 3px;
    	font-size: 1.75em;
    	font-weight: 100;
	}

	.week-subtitle {
		position: absolute;
    	top: 3.3em;
    	letter-spacing: .75px;
    	width: 100%;
    	font-size: .8em;
    	color: white;
    	text-align: center;
	}
}

.planner-view-control {
	height: 3em;

	#selected {
		background-color: $green;
		color: white;

		a { color: white; }
	}

	.col-sm-6 {
		width: 50%;
		float: left;
		height: 100%;

		button {
			width: 100%;
			height: 100%;
			text-align: center;
			color: $green;
			background-color: white;
			font-size: 1.5em;
			letter-spacing: 1.5px;
			font-weight: 100;
			border: none;
			padding: 0;
			}

		a {
			color: $green;
		}
	}
}

.planner-instructions {
	height:3em;
	background-color: $dark;
	display: block;

	.col-sm-12 {
		height: 100%;
		overflow: hidden;
		.breakfast, .lunch, .dinner, .snack {
			width: 23%;
			height: 100%;
    		position: relative;
    		float: left;
    		text-align: center;

    		.circle {
    			height: 8px;
    			width: 8px;
    			border-radius: 100%;
    			position: absolute;
    			top: 5px;
    		}

    		.tan {background-color: #f5b266;}
    		.green {background-color: #819800;}
    		.olive {background-color: #796c2d;}
    		.brown {background-color: #bc9c63;}

    		h5 {
    			color: white;
    			padding: 0;
   			    margin: 0;
    			font-weight: 100;
    			letter-spacing: 1px;
    			/* for some reason the letter spacing wasn't accounted for in text_align: center: */
    			left: 5px;
    			position: relative;
    			top: 50%;
    			transform: translateY(-50%);
    		}
		}

		/*needed to move only breakfast over to make colored circles look correct */

		#hide-chevron {
			right: -30px;
			color: $green;
			z-index: 10;
			position: absolute;
    		height: 100%;
    		font-size: 5em;
    		right: -38px;
    		top: -13px;
		}

	    .details-left, .details-right {
			position: absolute;
    		font-size: 9px;
   	    	bottom: 0px;
    		height: 14px;
    		color: $light;
		}

		.details-left {
			left: 4em;
		}

		.details-right {
			right: 4em;
		}
	}
}

.slider-container {
	height: 3em;
	background-color: white;
	position: relative;

	.col-md-12 {
		height: 100%;

		#unhide-chevron {
		position: absolute;
    	color: #819800;
    	font-size: 4em;
    	left: -32px;
    	top: 20px;
    	display: none;

	}

		.glyphicon {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			color: $green;
		}

		.glyphicon-minus {
			left: 30px;
		}

		.glyphicon-plus {
			right:30px;
		}

		.ui-slider-horizontal {height: 5px;}
		.ui-state-default {background: white;}

		#zoomSlider {
			position: relative;
			top: 50%;
			transform: translateY(-50%);
			width: 75%;
			margin:auto;

			.ui-slider-range { background: $green;}
  		    .ui-slider-handle { 
  		    		border-color: $green; 
  		    		border-radius: 100%;
  		    		top: -.5em;
  		    		}
		}
	}
}

#offset-margins {
	margin-bottom: -100px;
}

.weekly-planner {
	background-color: white;
	position: relative;
	overflow-x: auto;
	white-space: nowrap;

	.one-day {
		float: none;
		display: inline-block;
		width: 8.5em;

		.one-day-header {
			float: left;
			color: $medium;
			font-size: 1.1em;
			bottom: 7px;
			margin-top: 10px;
    		margin-bottom: 10px;
		}

		.meals {
			position: relative;
			width: 100%;

			.add-meal-short {
				width: 100%;
				height: 2em;
				margin-bottom: 10px;
				position: relative;
				float: left;

				h3 {
					font-size: .75em;
    				position: absolute;
    				float: left;
    				margin: 0;
    				width: 100%;
    				text-align: center;
    				text-decoration: none;
    				color: #ababab;
    				bottom: .5em;
    				border-bottom: 1px dashed $medium;
    				height: 65%;
				}

			}

			.add-meal-big {
				border: .75px dashed $medium;;
			}

			#hidden {
				display: none;
			}

			#mobile-event {
				height: 100%;	
				/* only used when as a fallback if a user has unfollowed a recipe but an event for that recipe still remains */
				background-image: asset-url("background-picture-foodstella.jpg");

			}


			.meal, .mobile-event {
				width: 100%;
				height: 6em;
				margin-bottom: 10px;
				position: relative;
				float: left;
				background-size: cover !important;
    			background-repeat: no-repeat !important;
    			background-position: 0 0 !important;

				.servings {
					position: absolute;
					left: 0;
					top: 0;
					padding-left: 3px;
					padding-right: 3px;
					height: 1.5em;
					color: $green;
					background-color: rgba(171, 171, 171, .85);
					text-align: center;

				}

				.event-title {
					width: 100%;
    				height: 1.5em;
    				color: white;
    				font-size: .75em;
    				letter-spacing: .5px;
    				position: absolute;
    				bottom: 0;
    				padding-left: 6px;
    				padding-right: 6px;
    			}


				.glyphicon {
					    color: $medium;
    					position: absolute;
    					text-align: center;
    					width: 100%;
    					left: 0;
    					top: 1.5em;
				}

				h3 {
					    font-size: .75em;
    					position: absolute;
    					float: left;
    					margin: 0;
    					width: 100%;
    					text-align: center;
    					text-decoration: none;
    					color: $medium;
    					bottom: 2.5em;
				}
			}
		}
	}
}

.recipe-selection-mobile {
	position: absolute;
    top: 12.8em;
    background-color: rgba(255, 255, 255, .9);
    width: 100%;
    z-index: 40;
    display: none;

    .recipe-selection-header {
    	width: 100%;
    	height: 5em;

    	.close-x {
    		position: absolute;
    		top: 10px;
    		right: 10px;
    		height: 2em;
    		width: 2em;
    		background-size: 2em 2em;
    		background-image: asset-url('close-x.png');
    	}

    	h3 {
    		text-align: center;
    		font-size: 1em;
    		color: $medium;
    	}

    	h2 {
    		text-align: center;
    		font-size: 2em;
    		color: $green;
    		margin-top: 0;
    	}

    	.alert {
    		position: absolute;
   			 width: 92%;
    		margin: auto;
    		text-align: center;
    		opacity: 0;
    		top: 38px;
    	}
    }
	.meal-selection {

		.recipe-title {
			position: absolute;
			width: 100%;
			bottom: 0;
			a {
				color: white;
			}
		}
		button {
			width: 100%;
			float: left;
			color: $medium;
			font-size: 1.25em;
			margin-top: 1em;

			span {
				float: right;
			}
		}

		#selected {
			display: block;
    		width: 100%;
    		height: 100%;
    		background-image: asset-url('fav-star-active.png');
    		background-size: 50% 50%;
    		background-repeat: no-repeat;
    		background-position-x: 50%;
    		background-position-y: 30%;
    		background-color: rgba(77, 77, 77, .8);
		}
	}
}

.day-selector-mobile {
	position: absolute;
    top: 0;
    background-color: rgba(255, 255, 255, 0.9);
    width: 100%;
    z-index: 40;
    display: none;
    height: 80em;

    .close-x {
    	position: absolute;
    	top: 10px;
    	right: 10px;
    	height: 2em;
    	width: 2em;
    	background-size: 2em 2em;
    	background-image: asset-url('close-x.png');
    }

    .col-md-12 {
    	padding: 0;
    }

    .mobile-days-list {
    	width: 100%;
    	position: relative;
    	list-style-type: none;
    	padding: 0;
    	top: 4em;

    	li {
    		width: 100%;
    		text-align: center;
    		height: 4em;
    		border-bottom: 1px solid $green;
    		color: $green;

    		h2 {
    			margin: 0;
    			padding: 0;
    			position: relative;
    			top: 50%;
    			transform: translateY(-50%);
    		}
    	}
    }
}

.event-actions-mobile {
	position: absolute;
    top: 0;
    background-color: rgba(255, 255, 255, .9);
    width: 100%;
    z-index: 40;
    display: none;
    height: 80em;

    #hide-event-actions {
    	position: absolute;
    	top: 10px;
    	right: 10px;
    	font-size: 2em;
    	color: $medium;
    }

    .view-container {
    	border: 1px solid $green;
    	border-bottom: none;
    	position: relative;
    	width: 80%;
    	height: 29em;
    	margin: auto;
    	top: 5em;

    	.image-container {
    		display: block;
   		    width: 100%;
    		height: 17em;

    		#servings {
    			width: 3em;
    			height: 3em;
    			background-color: rgba(255, 255, 255, 0.9);
    			position: absolute;
    			text-align: center;

    			h3 {
    				margin: 0;
    				position: relative;
    				top: 50%;
    				transform: translateY(-50%);
    				color: $green;
    				font-weight: 100;
    			}
    		}
    	}

    	.recipe-title-container {
    		position: relative;
    		height: 2.5em;
    		top: -2.5em;
    		background-color: $green;

    		#recipe-title {
    			margin: 0;
    			color: white;
    			position: relative;
    			top: 50%;
    			transform: translateY(-50%);
    			letter-spacing: 1px;
    			font-weight: 100;
    		}
    		
    	}


    	.event-actions {
    		height: 12em;
    		position: relative;
    		top: -2.5em;
    		padding: 0;
    		list-style-type: none;
    		margin: 0;

    		.action {
    			height: 4em;
    			border-bottom: 1px solid $medium;
    			background-color: white;

    			h2 {
    				margin: 0;
    				color: $medium;
    				position: relative;
    				top: 50%;
    				transform: translateY(-50%);
    			}

    			#recipe-title-link {
    				text-decoration: none;
    				height: 4em;
    				width: 100%;
    				position: absolute;

    				h2 {
    					color: $medium;
    				}
    			}
    		}

    		.servings {
    			h2 {
    				display: block;
    				color: #ababab;
    				position: relative;
    				margin: 0;
    				top: 50%;
    				transform: translateY(-50%);
    				left: 20%;
    				width: 30%;
    			}

    			#minus-serving {
    				position: absolute;
    				top: 50%;
    				transform: translateY(-50%);
    				color: $medium;
    				left: 60%;
    			}

    			#add-serving {
    				position: absolute;
    				top: 50%;
    				transform: translateY(-50%);
    				left: 86%;
    				color: $medium;
    			}

    			#num-servings {
    				position: absolute;
    				top: 50%;
    				transform: translateY(-50%);
    				left: 70%;
    				padding: 3px;
    				padding-left: 7px;
    				padding-right: 7px;
    				border: 1px solid $dark;
    			}
    		}
    	}
    }
}


/* day calendar mobile view */

.day-calendar-header {
	padding: 0;
	height: 3em;
	background-color: white;

	h1 {
		color: $medium;
		font-size: 1.5em;
    	margin: 0;
    	position: relative;
    	top: 50%;
    	transform: translateY(-50%);
    	letter-spacing: 1.5px;
    	font-weight: 100;
	}
}

.day-calendar-meal {
	background-color: white;
	position: relative;
	overflow-x: auto;
	overflow-y: hidden;
	white-space: nowrap;
	height: 10em;

	.meal-types {
		height: 100%;
		.added-meals {
			height: 100%;
			.meal {
				height: 100%;
    			width: 11em;
    			float: none;
    			display: inline-block;
    			padding: 0;
    			/*margin: -.2em;*/
    			overflow: hidden;
    			/*margin-right: 1px;*/
				.mobile-event {
					height: 100%;
					width: 11em;
					position: absolute;
					/* only used when as a fallback if a user has unfollowed a recipe but an event for that recipe still remains */
					background-image: asset-url("background-picture-foodstella.jpg");
					background-size: cover !important;
    				background-repeat: no-repeat !important;
    				background-position: 0 0 !important;

    				.servings {
    					width: 2em;
    					height: 2em;
    					position: absolute;
    					top: 0;
    					left: 0;
    					text-align: center;
    					background-color: rgba(255, 255, 255, .9);
    					color: $green;
    					padding-top: 5px;
    					padding-left: 2px;
    					font-size: 1.5em;
    					font-weight: 100;
    				}

    				.event-title {
    					position: absolute;
    					bottom: 0;
    					width: 100%;
    					text-align: center;
    					color: white;
    				}
				}
			}

			.add-meal-big {

				a {
					width: 11em;
    				height: 100%;
    				position: absolute;
    				padding: 0;

					.add-meal-box {
						text-align: center;
    					position: relative;
    					top: 50%;
    					transform: translateY(-50%);
    					height: 80%;
    					width: 80%;
    					margin: auto;
    					border: 1px dashed $medium;
						span {
							font-size: 1.5em;
    						color: #ababab;
    						margin: auto;
    						top: 1.3em;

						}
						h3 {
							font-size: 1.25em;
    						font-weight: 200;
    						color: $medium;
    						margin: 0;
    						position: relative;
    						top: 50%;
    						transform: translateY(-50%);
						}
					}
				}
			}
		}
	}
}
