.user_pic {
	width: $banner_h;
	height: $banner_h;
	background-color: $dark;
	background-size: auto 100%;
	background-position: center center;
}

.dashboard-view {
	.container {
	  // text-align: center;
	  color: $medium;
	}

	.banner:first-child {
		height: 160px;
		// background-color: $medium;
		background: asset-url('background-picture-foodstella.jpg');
		background-size: 100% auto;
		background-position: center center;
		padding: 0;
	}
	.banner {
		height: $banner_h;
		background-color: white;
		color: $medium;
		text-align: center;
		padding: 0 15px;
	}

	.user_pic {
		width: $banner_h;
		height: $banner_h;
		background-color: $dark;
		background-size: auto 100%;
		background-position: center center;
	}
	.banner > .user > .user_pic {
		margin: -$banner_h/2 auto 0;
		border-radius: 99px;
		border: solid 2px white;
	}

	.wrapper-header {
		// background-color: $light;
		position: relative;
		.search-box {
			display: none;
			// text-align: left;
			// float: right;
			font-size: 12px;
			position: absolute;
			bottom: 10px;
			right: 0;
		}
	}

	.button {
		cursor: pointer;
		display: none;
		color: $brown;
		width: auto;
		margin: 40px 10px 0;
		padding: 2px;
	}
	.button.selected { border-bottom: solid 1px $orange; }
	.button:hover { color: $orange; }
	/* Reveal buttons on medium devices (desktops, 992px and up) */
	@media (min-width: 992px) {
		.button { display: inline-block; }
		.wrapper-header .search-box { display: inline-block; }
	}
	.tabs_left > .button { float: left; }
	.tabs_right > .button { float: right; }
	.tabs_right > .button > span {
		font-size: 1.5em;
		color: $medium;
	}

	.tile {
		margin: 8px auto;
		// background-color: #CEA;
		max-width: 250px;
		background: asset-url('background-picture-foodstella.jpg');
		background-size: auto 100%;
		background-position: center center;
	}
		.tile > .overlay {
			// cursor: pointer;
			width: 100%;
			height: 30px;
			margin-top: calc(100% - 30px);
			display: inline-block;
			padding: 0.25em;
			background-color: rgba(0,0,0,0.3);
			font-size: 1em;
			color: rgba(255,255,255,0.5);
			// text-align: center;
		}
		.tile:hover > .overlay {
			// color: rgba(255,255,255,1);
			background-color: rgba(0,0,0,0.5);
		}
			.tile > .overlay a {
				color: rgba(255,255,255,1);
				text-decoration: none;
			}
			.tile > .overlay a:hover { text-decoration: underline; }
			.tile > .overlay > .title {
				width: calc(100% - 60px);
				margin-left: 30px;
				overflow: hidden;
				white-space: nowrap;
				float: left;
			}
			.tile > .overlay > .star {
				width: 30px;
				font-size: 1.3em;
				color: rgba(255,255,255,0.5);
				cursor: pointer;
				// float: left;
			}
			.tile > .overlay > .star:hover {
				color: rgba(255,255,255,1);
			}

	.row > h3 {
		text-align: center;
		font-weight: 200;
	}

	.wrapper {
		 background-color: white;
		 text-align: center;
		 padding: 15px;
		// display: inline-block;
	}
	.tile_wrapped {
		width: 200px;
		height: 200px;
		display: inline-block;
		padding: 2px 0;
		// float: left;
	}
}




// #new_user {
// 	display: block;
// 	padding: 20px;
// 	text-align: center;
// }
// #new_user input:focus { }
// #new_user {
// 	::-webkit-input-placeholder { color: white; }
// 	:-moz-placeholder { color: white; }
// 	::-moz-placeholder { color: white; }
// 	:-ms-input-placeholder { color: white; }
// }
// #new_user input { border-radius: 15px; }
// #new_user input[type=email],
// #new_user input[type=password],
// #new_user input[type=text] {
// 	background-color: transparent;
// 	text-align: center;
// 	border: solid 1px lightgrey;
// 	width: 100%;
// }
// #new_user .split { width: 45%; float: right;}
// #new_user .split.first { float: left; }

input:-webkit-autofill {
    // -webkit-box-shadow: 0 0 0px 1000px $green inset;
    // color: white;	// doesnt work
}

// #new_user input[type=submit] {
// 	border: none;
// 	background-color: white;
// 	font-weight: bold;
// 	color: $green;
// 	width: 100px;
// 	float: right;
// }
// #new_user input[type=submit].reset_password {
// 	width: auto;
// 	float: none;
// }

// #new_user input[type=checkbox] {
// 	//display: none;
// 	// for custom checkbox span
// }


html { height: calc(100% - 0px); }
body, body > div { height: 100%; }
.full-height { height: 100%; }


.remember, .forgot {
	display: inline-block;
	font-size: 12px;
	float: right;
	margin: 10px 0;
}
.remember { float: left; }
.clear { clear: both; }

.or {
	display: inline-block;
	width: 30px;
}
.or.wing {
	height: 4px;
	border-top: solid 1px white;
}
#facebook {
	border: solid 2px blue;
	width: 100px;
	display: inline-block;
}

/* Reveal backsplash on medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
	.backsplash-col {
		// display: inline-block;
		width: calc(100% - 300px);
		float: left;
	}
	.backsplash-col ~ .signin-col {
		width: 300px;
		float: left;
	}
}

/* index page styling and inbox */

.friendships {
	margin: 0;

	.col-md-8 {
		margin: auto;
		position: relative;
		float: none;

		ul {
			text-decoration: none;
			list-style-type: none;
			text-align: center;

			li {
				padding: 20px;
			}

		}
	}


}

/* shopping list */

#shopping-list-mobile {
	min-width: 0px;
	max-width: 100%;
	float: none;
}
.shopping-list {
	margin: 0;
	padding: 0;

	float: right;
	min-width: 600px;
    max-width: calc(100% - 250px);

    min-height: 100vh;
    background-color: white;
}
.shopping-list-recipes,
.shopping-list-container {
	// width: 100%;
	// background-color: white;
	// position: absolute;
	padding-bottom: 3em;

	.shopping-list-header {
		width: 90%;
		position: relative;
		margin: auto;
		height: 4em;
		border-bottom: 2px solid $green;

		h1 {
			color: $green;
			float: left;
			font-size: 1.7em;
			font-weight: 200;
			letter-spacing: 2px;
		}
	}

	.list-box {
		    position: relative;
    		// top: 2em;
    		width: 90%;
    		margin: auto;

		ol {
			list-style-type: none;
			padding: 0;

			li {
				// padding:15px;
				padding: 12px;
				font-size:1.3em;
				float: left;
				width: 100%;
    			float: left;
    			// height: 2.5em;
    			font-weight: 200;

    			div {
    				margin-right: 10px;
    			}

    			label {
    				font-weight: 200;
    				// letter-spacing: 2px;
    				// word-spacing: 25px;
    			}

    			a {
    				color: $medium;
    				text-decoration: none;
    			}
			}
		}
	}
}
.shopping-list-recipes {
	text-align: right;
	.shopping-list-header {
		// border-bottom: solid 2px $medium;
		border-bottom-color: $medium;
		h1 {
			color: $medium;
			float: right;
		}
	}
	ol li:hover {
		a {
			color: black;
			text-decoration: underline;
		}
	}
}

// ============== welcome page ==============

.section {
  width: 100%;
  min-height: 10vh;
  padding-top: 5vh;
  padding-bottom: 5vh;
  transition: 0.5s;
}

.title{
	background-color:black; // might want to change to $dark
	min-height: 40vh;
	#logo{
		max-height: 30vh;
		max-width: 90vw;
		vertical-align:middle;
		display: block;
		margin-right: auto;
		margin-left: auto;
	}
}

.tagline{
	background-color:$green;
	font-size: 2em;
	text-align:center;
	color:white;
	font-family: 'Great Vibes', 'Cookie', Lucida, Helvetica, sans-serif;
	padding-top: 2vh;
	padding-bottom: 2vh;
}

.sign-in{
	text-align: center !important;
	height: 70vh;
	background-color: white;
	.links{
		padding-top: 20vh;	
		display: block;
		margin-right: auto;
		margin-left: auto;
		max-width: 60vw;
		a {
			display: inline-block;
		}
	}
	.info{
		bottom: 0;
		padding-top: 10vh;
		padding-bottom: 20vh;
		max-width: 80vw;
		display: block;
		margin-right: auto;
		margin-left: auto;
		max-height: 30vh;
		text-align:center;
	}
}

.drag-yes-no{
	background-color: black;
	min-height: 60vh;
	padding-top: 20vh;
	padding-bottom: 20vh;

	.rater{
		text-align: center;
		display:block;
		margin-right: auto;
	  	margin-left: auto;
	  	width: 90vw;
	  	padding-top: 10vh;
	  	.selector-box{
	  		width: 20vw;
	  		height: 20vw;
	  		border-radius: 10vw;
	  		border: 1px solid white;
	  		padding-top: 0.5vw;
  			display: inline-block;

			.sortable {
			  background-color:white;
			  width: 19vw;
			  height: 19vw;
			  border: 1px dotted white;
			  transition: 0.3s;
			  border-radius: 9.5vw;
			  overflow: hidden;
			  display:block;
			  margin-right: auto;
			  margin-left: auto;

			  display: block; // align horizontal
			  margin-right: auto;
			  margin-left: auto;

			  .inner {
			    height: 100%;
			    background-color: rgba(255, 255, 255, 0);
			    width: 100%;
			  }
			  p {
			    font-size: 1.2em;
			    color: rgba(255, 255, 255, 0);
			    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
			  }
			  &:hover {
			    transition: 0.3s;
			    .inner {
			      // overflow: hidden;
			      background-color: white;
			      transition: 0.3s;
			      p {
			        color: rgba(0, 0, 0, 1);
			        transition: 0.3s;
			        padding-top: 4%;
			      }
			    }
			  }
			}
	  	}
	}
	.info{
		text-align: center;
		display:block;
		margin-right: auto;
	  	margin-left: auto;

		color: grey;
		width: 50vw;
		padding-top: 10vh;
	}
}


.food-names{

	background-color: white;

	.sortable-day{
		display: inline-block;
		width: 20vw;
		height: 60vh;
		overflow: hidden;
		border:none;

		&.one{
				background-color:lightgrey;
		}
		&.two{
			background-color:grey;
		}
		&.three{
			background-color:$green;
		}

		.sortable{
			width: 20vw;
			height: 20vh;
			border: 1px solid black;
		}

	}
	.addition{
  		width: 20vw;
  		display: inline-block;
		transition: 0.5s;
		
  		&:hover{
  			color: orange;
  			transition: 0.5s;
  		}
	}

}

// ============ text types =============
.help-text{


}

.title-text{

}

.explain-text{


}

.green{
	color: $green;
}


// ============ button types =============
.button-link{
	border-radius: 25px;	
	display:inline-block;
	padding-left: 1%;
	padding-right: 1%;
	padding-top: 1%;
	width: 30%;
	height: 10%;
	min-width: 100px;
	min-height: 30px;
	border: 1px solid white;

	margin-top: 0.2em;
	margin-bottom: 0.2em;
	margin-left: 0.2em;
	margin-right: 0.2em;
	color: white;

	text-decoration: none !important;

	&.green{
		background-color: $green;
		&:hover{
			color: $green;
			background-color: white;
			transition: 0.5s;
			border: 1px solid $green;
		}
	}
	&.black{
		background-color: black;
		&:hover{
			color: black;
			background-color: white;
			transition: 0.5s;
			border: 1px solid black;
		}
	}
}



// ========== Utility =========

hr.simple {
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

.center-horizontal {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.center-horizontal-children {
  text-align: center;
}

.center-vertical{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

// ========== draggable =========

.sortable-day {
  background-color: rgba(255, 255, 255, 0.7);
  border: 5px solid green;
  overflow: auto;
  width: 15vw;
  height: 60vh;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  background-repeat: no-repeat;
}

.remove {
  color: rgba(255, 0, 0, 1);
  font-size: 1em;
  float: middle;
  display: inline-block;
}

.add {
  background-color: lightblue;
  color: black;
  transition: 0.5s;
  width: 100%;
  height: 10%;
  min-height: 30px;
  font-size: 1.5em;
  border-radius: 10px;
  border: 1px solid grey;
  &:hover {
    background-color: blue;
    color: white;
    transition: 0.5s;
  }
}



